<mat-card [ngClass]="{'chat-card-when-emoji-picker-active': emojiService.emojipickeractiveThread}" class="threads-card">
  <div class="shadow-box">
    <div class="chat-first-row" *ngIf="triggerCRUDHTML">
      <div class="chat-head" *ngIf="loading">
        <span class="chat-name">Thread</span>
        <span class="chat-name-blue"># {{ channelData[0].channelName }}</span>
      </div>
      <div class="right-corner">
        <div *ngIf="loading" class="close-icon"><img src="./assets/img/icons/close.png" alt="#"
            (click)="close(channelData[0].id)"></div>
      </div>
    </div>
  </div>

  <div #chatContainer [ngClass]="{'text-area-when-emoji-picker-active': emojiService.emojipickeractiveThread}" class="chat-text-area" *ngIf="threadData">
    <ng-container *ngFor="let message of threadData; let index = index">
      <!-- Time stamp parting line -->
      <ng-container *ngIf="isNewDay(message, messageData[index - 1])">
        <div class="parting-line"></div>
        <div class="flex-center time-partLine">
          <div class="time-stamp">{{ getFormattedDate(message.time) }}</div>
        </div>

        <div class="parting-line-padding"></div>
        <div class="parting-line-firstMessage">
        </div>
      </ng-container>



      <div class="chat-message"
        [ngClass]="{ 'chat-right': message.sentById === currentUserId, 'chat-left': message.sentById !== currentUserId }">
        <div class="profile-picture-container">
          <img class="profile-pictures-chat" src="{{ message.picture }}" alt="#">
        </div>
        <div class="message-content"
          [ngClass]="{ 'message-content-right': message.sentById === currentUserId, 'message-content-left': message.sentById !== currentUserId }">
          <div class="chat-bubble-head" *ngIf="message.sentById !== currentUserId">
            <span class="chat-name" (click)="openUserProfile(message.sentById)">{{ message.sentBy }}</span>
            <span class="chat-timeStamp">{{ message.time | date:'mediumTime' }}</span>
          </div>
          <div class="chat-bubble-head right-bubble" *ngIf="message.sentById === currentUserId">
            <div>
              <mat-icon *ngIf="message.messageText !== 'This message has been deleted'"
                class="delete-message-left-corner" (click)="deleteMessage(message.id)">delete</mat-icon>
            </div>
            <div class="chat-right-first-row-right">
              <span class="chat-timeStamp">{{ message.time | date:'mediumTime' }}</span>
              <span class="chat-name" (click)="openUserProfile(message.sentById)">{{ message.sentBy }}</span>
            </div>
          </div>
          <div>
            <span class="chat-message"
              [ngClass]="{ 'chat-message-right': message.sentById === currentUserId, 'chat-message-left': message.sentById !== currentUserId }">{{
              message.messageText }}
                

              <div #menuTrigger class="mentions-button" *ngIf="message.mentionedUser.length > 0"
                [ngClass]="{ 'mention-right': message.sentById === userDataService.currentUser, 'mention-left': message.sentById !== userDataService.currentUser, 'mention-active':  mentionService.resolveForRedDisplay(message.mentionedUser) }">
                @
                <div id="mentions-in-message{{index}}" class="mention-in-message d-none"
                  [ngClass]="{'mention-popup-right': message.sentById === userDataService.currentUser, 'mention-popup-left': message.sentById !== userDataService.currentUser}">
                  <span style=" white-space: nowrap;"
                    *ngFor="let user of message.mentionedUser">@{{mentionService.resolveMentionedUser(user.id)}}</span>
                </div>
              </div>
            
            
            
            </span>
          </div>
          <div class="like-area">

            <div id="reactionlist-in-thread{{index}}" class="list-of-reactions">
              <div *ngFor="let emoji of message.emojis" class="list-item-reaction">
                <span>{{ emoji['emoji'] }} :</span>
                <span>&nbsp;{{ emoji['reaction-from'] }}</span>
              </div>
            </div>

            <div class="behind-show-reaction" *ngIf="emojiService.behindShowReactionContainer"
              class="behind-show-reaction" (click)="hideAllReactionLists()"></div>
            <div (click)="showReaction(index)" *ngIf="message.emojis.length > 0" class="reaction-icon-container">
              <div class="reaction-counter">{{ message.emojis[0]['emoji'] }}</div>
              <span class="reaction-counter">{{ message.emojis.length }}</span>
            </div>

            <div class="behind-reaction-popup" *ngIf="emojiService.behindReactionContainer"
              (click)="hideEmojis(this.emojisClickedBefore)"></div>
            <div class="reaction-emojis" id="reaction-in-thread{{index}}">
              <div *ngFor="let emoji of emojiService.reactionEmojis" class="r-emoji"
                (click)="reactWithEmoji(emoji, index, message.id , message)">{{ emoji }}</div>
            </div>

            <div *ngIf="message.sentById !== currentUserId" id="reaction-button-thread{{index}}"
              (click)="reaction(message.emojis, index)" class="reaction-button-container">
              <div class="reaction-button"></div>
            </div>
          </div>
          <span class="chat-timeStamp" *ngIf="message.sentById !== currentUserId">Last reply {{
            formatTimeStamp(message.time) }}</span>
        </div>
      </div>
    </ng-container>
  </div>

  <!-- Input field -->
  <div [ngClass]="{'input-thread-when-emoji-picker-active': emojiService.emojipickeractiveThread}" class="message-input-field">
    <div *ngIf="mentionService.mentionInThread" class="mentioned-users-container">
      <div *ngFor="let user of mentionService.mentionInMessage; index as i" class="mentioned-user">@{{user.user.name}}
        <div (click)="mentionService.deleteMention(i)" class="delete-mention">+</div>
      </div>
    </div>

    <div class="text-editor">
      <div (click)="emojiService.emojipickeractiveThread = false" *ngIf="emojiService.emojipickeractiveThread"
        class="behind-emoji-popup">
        <app-emojis (click)="mentionService.preventClick($event)" (newEmoji)="typeEmoji($event)"
          class="app-emojis"></app-emojis>
      </div>
      <textarea (input)="checkForMention($event)" placeholder="Answer..." [(ngModel)]="messageInput" name="" rows="4" (keyup.enter)="sendMessage()">
      </textarea>
      <div class="text-editor-bottom">
        <div class="text-editor-left-btns">
          <div class="emoji-container" (click)="this.emojiService.toggleEmojiPicker('thread')"></div>

          <div class="mail-container" (click)="mentionService.chatToggledWithButton = true; mentionService.mentionInThread = true;" #menuTrigger mat-button
            [matMenuTriggerFor]="mention"></div>
          <mat-menu class="mention-menu" #mention="matMenu">
            <button class="users-to-mention" *ngFor="let user of mentionService.usersInCannel" mat-menu-item
              (click)="addMention(user)">@ {{ user.user.name }}</button>
          </mat-menu>
        </div>
        <div [style.opacity]="messageInput.length === 0 ? '0.5' : '1'" class="send-message-btn" (click)="sendMessage()">
        </div>
      </div>
      <div class="button-backlayer">
        <mat-icon class="send">send</mat-icon>
      </div>
      <div class="emoji-mobile">
        <div class="emoji-container" (click)="this.emojiService.toggleEmojiPicker('thread')"></div>
      </div>
    </div>
  </div>
</mat-card>

<!-- Profile Content -->
<div class="overlay" *ngIf="isProfileCardOpen" (click)="closeUserProfile()"></div>

<section class="user-profile-card-section" *ngIf="isProfileCardOpen">
  <mat-card class="user-profile-card">
    <mat-card-header class="user-header">
      <mat-card-title>Profile</mat-card-title>
      <mat-icon (click)="closeUserProfile()">close</mat-icon>
    </mat-card-header>
    <div class="user-img">
      <img src="{{  this.userProfile[0].picture }}">
    </div>
    <mat-card-content>
      <div class="user-contact-info">
        <p>{{ this.userProfile[0].name }}</p>
      </div>
      <div class="user-status" [ngClass]="{'user-active': this.userProfile[0].status === 'Active'}">
        <p>
          <svg *ngIf="this.userProfile[0].status === 'Active'" xmlns="http://www.w3.org/2000/svg" width="8" height="8"
            viewBox="0 0 8 8">
            <circle cx="4" cy="4" r="4" fill="#92C83E" />
          </svg>
          <svg *ngIf="this.userProfile[0].status === 'Inactive'" xmlns="http://www.w3.org/2000/svg" width="8" height="8"
            viewBox="0 0 8 8">
            <circle cx="4" cy="4" r="4" fill="#808080" />
          </svg>
          {{ this.userProfile[0].status }}
        </p>
      </div>
      <div class="user-email">
        <mat-icon>mail_outline</mat-icon>
        <div class="user-email-link">
          <p>E-Mail-Adresse</p>
          <a>{{ this.userProfile[0].email }}</a>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="user-message-button">
      <button mat-flat-button color="primary"><mat-icon>chat_bubble_outline</mat-icon>Nachricht</button>
    </mat-card-actions>
  </mat-card>
</section>