@charset "UTF-8";
.threads-card {
  /*min-width: 200px;*/
  width: 485px;
  height: calc(100vh - 150px);
  border-radius: 15px;
  padding: 32px 30px;
  margin: 15px 10px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.threads-card .threads-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 65px;
}
.threads-card .threads-header .thread-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}
.threads-card .threads-header .thread-info h2 {
  margin: 0;
}
@media (max-width: 1600px) {
  .threads-card {
    display: none;
  }
}

.chat-card {
  position: relative;
  min-width: 500px;
  min-height: calc(100vh - 130px);
  border-radius: 15px;
  padding: 25px 35px 111px;
  margin: 15px 10px 10px 10px;
  /*    border-radius: 30px;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat-text-area {
  height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 20px;
  border-radius: 5px;
  top: 82px;
  position: relative;
}

.reaction-emojis {
  display: none;
  height: 24px;
  align-items: center;
  width: 0;
  border-radius: 20px;
  background-color: white;
  padding: 5px;
}

.showEmojis {
  display: flex !important;
  animation: all 500ms ease-in-out;
  width: auto !important;
}

.r-emoji {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
  margin: 5px;
}
.r-emoji:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.chat-first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.shadow-box {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  height: auto;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  border-top-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
  z-index: 1;
}

.search-input-channels {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 20px 15px 20px;
}
.search-input-channels h2 {
  font-family: "Nunito";
  margin-top: 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.search-input-channels .user-list {
  padding: 10px 0;
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
}
.search-input-channels .user-list:hover {
  color: var(--c-purple);
}
.search-input-channels .channel-name {
  display: flex;
  height: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 95%;
  border-radius: 20px;
  border: 1px solid var(--ligth-purple-lines, #adb0d9);
  padding: 20px;
  gap: 20px;
}

.right-corner {
  display: flex;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.profile-pictures-chat {
  height: 70px;
  width: 70px;
  object-fit: cover;
  margin: 0 15px;
  border-radius: 50%;
}

.participant-icon {
  height: 40px;
  width: 40px;
  object-fit: cover;
  margin-right: -10px;
  border: 2px solid white;
  border-radius: 50%;
}

.participant-amount {
  margin-left: 20px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: 20px;
}

.add-participant {
  height: 24px;
  width: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.add-participant-background {
  border-radius: 20px;
  background: var(--bg-color, #eceefe);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-head {
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}
.chat-head:hover {
  width: auto;
  height: auto;
  background-color: var(--text-hover);
  border-radius: 20px;
  height: 45px;
  min-width: 200px;
}

.hash-chat-name {
  margin-right: 15px;
}

.chat-name {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 10px;
  cursor: pointer;
  transition: color 0.3s;
}
.chat-name:hover {
  color: var(--purple-2, #797ef3);
}

.chat-name-blue {
  color: var(--purple-2, #797EF3);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.app-emojis {
  position: absolute;
  bottom: 10px;
  z-index: 10;
}

.chat-left {
  display: flex;
  flex-direction: row;
  padding: 0 40px 0 40px;
  transition: background-color 0.3s;
}
.chat-left:hover {
  cursor: pointer;
  background: var(--bg-color, #eceefe);
}
.chat-left:hover .chat-message-left {
  background-color: white;
}

.chat-right {
  display: flex;
  justify-content: flex-start;
  margin: 40px 0;
  padding: 0 40px 0 40px;
  transition: background-color 0.3s;
  flex-direction: row-reverse;
}
.chat-right:hover {
  background: var(--bg-color, #eceefe);
}

.parting-line {
  width: 100%;
  border: 0.5px solid rgba(173, 176, 217, 0.4784313725);
  height: 0;
}

.parting-line-firstMessage {
  width: 100%;
  border: 0.5px solid rgba(173, 176, 217, 0.4784313725);
  height: 0;
}
.parting-line-firstMessage span {
  color: var(--ligth-purple-lines, #ADB0D9);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  position: relative;
  top: -13px;
  z-index: 10;
  background: #fff;
  padding-right: 20px;
}

.time-stamp {
  border-radius: 30px;
  border: 1px solid var(--ligth-purple-lines, #adb0d9);
  padding: 0 15px 5px;
  width: fit-content;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: white;
  position: absolute;
  top: 23px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.chat-message {
  padding-top: 20px;
  padding-bottom: 25px;
}

.chat-message-left {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
  border-radius: 0px 30px 30px 30px;
  background: var(--bg-color, #eceefe);
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  margin: 8px 0;
}

.chat-message-right {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  border-radius: 30px 0px 30px 30px;
  background: var(--purple-2, #797ef3);
  display: inline-flex; /* Änderung hier */
  padding: 15px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  margin: 8px 0;
}

.message-content-left {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.message-content-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chat-timeStamp {
  color: var(--text-gray, #686868);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.chat-bubble-head {
  display: flex;
  align-items: center;
  gap: 20px;
}

.right-bubble {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.wid-max {
  width: 100%;
}

.flex-right {
  justify-content: flex-end;
}

.messages-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}

.time-partLine {
  position: relative;
  top: -40px;
}

.like-area {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  position: relative;
}

.list-of-reactions {
  position: absolute;
  right: -20%;
  z-index: 10;
  min-width: 100px;
  min-height: 50px;
  background-color: #c1c3d7;
  border-radius: 20px;
  display: none;
}

.show-list-of-reactions {
  display: unset;
}

.list-item-reaction {
  width: calc(90% - 20px);
  height: 30px;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin: 10px;
}

.reaction-icon-container {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  border-radius: 20px;
  border: 1px solid var(--ligth-purple-lines, #adb0d9);
  height: 24px;
  width: 44px;
  gap: 10px;
  cursor: pointer;
}
.reaction-icon-container:hover {
  background-color: rgba(173, 176, 217, 0.2784313725);
}

.reaction-counter {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.reaction-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 36px;
  height: 36px;
}
.reaction-button-container:hover {
  background: #fff;
  border-radius: 50%;
}

.message-input-field {
  width: calc(100% - 40px);
  margin-top: 25px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: #fff;
}

.text-editor {
  border-radius: 20px;
  border: 1px solid var(--ligth-purple-lines, #adb0d9);
  min-height: 145px;
  padding: 20px;
  margin-top: 6px;
}

textarea {
  border: 0;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  resize: none;
}
textarea:focus {
  outline: none;
}

.text-editor-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.vertical-line-textEditor {
  border: solid 1px #adb0d9;
  width: 0px;
  height: 40px;
}

.text-editor-left-btns {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  padding-left: 5px;
}

.container, .mail-container, .emoji-container, .attach {
  height: 24px;
  width: 24px;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
}
.container:hover, .mail-container:hover, .emoji-container:hover, .attach:hover {
  background-color: #eceefe;
}
.container svg, .mail-container svg, .emoji-container svg, .attach svg {
  width: 100%;
  height: 100%;
}
.container::before, .mail-container::before, .emoji-container::before, .attach::before {
  content: "";
  display: block;
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border-radius: inherit;
  box-shadow: 0 0 0 6px transparent;
  opacity: 0;
  transition: opacity 0.3s;
}
.container:hover::before, .mail-container:hover::before, .emoji-container:hover::before, .attach:hover::before {
  opacity: 1;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.attach {
  background-image: url(../../assets/img/icons/add_gray.svg);
  background-size: cover;
  transition: background-image 0.3s;
}
.attach:hover {
  background-image: url(../../assets/img/icons/add_gray_hover.svg);
  box-shadow: 0 0 6px 3px #eceefe;
}

.emoji-container {
  background-image: url(../../assets/img/icons/sentiment_satisfied.svg);
  transition: background-image 0.3s;
  z-index: 10;
}

.emoji-container:hover {
  background-image: url(../../assets/img/icons/sentiment_satisfied_hover.svg);
  box-shadow: 0 0 6px 3px #eceefe;
}

.mail-container {
  background-image: url(../../assets/img/icons/alternate_email.svg);
  transition: background-image 0.3s, box-shadow 0.3s;
}

.mail-container:hover {
  background-image: url(../../assets/img/icons/alternate_email_hover.svg);
  box-shadow: 0 0 6px 3px #eceefe;
}

.send-message-btn {
  background-image: url(../../assets/img/icons/send_message.svg);
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: background-image 0.3s;
}
.send-message-btn:hover {
  background-image: url(../../assets/img/icons/send_message_hover.svg);
}

.reaction-button {
  position: relative;
  height: 24px;
  width: 24px;
  background-image: url(../../assets/img/icons/add_reaction.svg);
}
.reaction-button:hover {
  transition: background-image 0.3s;
  background-image: url(../../assets/img/icons/add_reaction_hover.svg);
}

section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.user-profile-card {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  width: 22rem;
  height: 32rem;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  line-height: 2;
}
.user-profile-card a {
  text-decoration: none;
  color: #1381ff;
}
.user-profile-card .user-header {
  display: flex;
  justify-content: space-between;
}
.user-profile-card .user-header mat-card-title {
  font-weight: 700 !important;
}
.user-profile-card .user-header mat-icon {
  cursor: pointer;
}
.user-profile-card .user-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.user-profile-card .user-img img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}
.user-profile-card .user-contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-profile-card .user-contact-info p {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 43px;
  margin: 0;
}
.user-profile-card .user-status {
  color: #808080;
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;
}
.user-profile-card .user-active {
  color: #92C83E !important;
}
.user-profile-card .user-email {
  display: flex;
}
.user-profile-card .user-email .user-email-link {
  padding-left: 0.9rem;
}
.user-profile-card .user-message-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.user-profile-card button {
  width: 154px;
  height: 45px;
  border-radius: 50px;
  background: #444df2;
}
@media (min-width: 970px) {
  .user-profile-card {
    width: 19rem;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.overlay .channel-edit-card {
  width: 872px;
  height: auto;
  background-color: white;
  border-radius: 25px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.overlay .channel-edit-card .channel-edit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.overlay .channel-edit-card .channel-edit h2 {
  font-family: "Nunito";
  margin-top: 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.overlay .channel-edit-card .channel-edit span {
  font-family: "Nunito";
  margin-top: 20px;
  font-size: 18px;
  font-style: normal;
  color: var(--c-mediun-purple);
  margin: 0;
  cursor: pointer;
}
.overlay .channel-edit-card .channel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.overlay .channel-edit-card .channel-header img {
  width: 40px;
  object-fit: scale-down;
  cursor: pointer;
}
.overlay .channel-edit-card .channel-header h1 {
  font-family: "Nunito";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.overlay .channel-edit-card h3 {
  font-family: "Nunito";
  margin-top: 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.overlay .channel-edit-card .channel-introduction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.overlay .channel-edit-card .channel-name {
  display: flex;
  height: 20px;
  padding: 18px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 95%;
  border-radius: 20px;
  border: 1px solid var(--ligth-purple-lines, #adb0d9);
  padding: 20px;
  gap: 20px;
}
.overlay .channel-edit-card .btn-area {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
.overlay .channel-edit-card .btn-area .btn-channel {
  border-radius: 25px;
  background: var(--purple-1, #444df2);
  color: var(--white, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  padding: 12px 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  height: 49px;
  width: 226px;
  cursor: pointer;
}
.overlay .channel-edit-card .frame-edit {
  display: flex;
  height: auto;
  padding: 18px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 95%;
  border-radius: 20px;
  border: 1px solid var(--ligth-purple-lines, #adb0d9);
  padding: 20px;
  gap: 20px;
}
.overlay .channel-edit-card .frame-edit h2 {
  font-family: "Nunito";
  margin-top: 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}
.overlay .channel-edit-card .frame-edit .channel-creator {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.overlay .channel-edit-card .frame-edit .channel-creator span {
  font-family: "Nunito";
  margin-top: 20px;
  font-size: 18px;
  font-style: normal;
  color: var(--c-mediun-purple);
  margin: 0;
  cursor: pointer;
}
.overlay .channel-edit-card .frame-edit .under-line {
  width: 100%;
  height: 1px;
  background-color: var(--purple-1, #adb0d9);
}
.overlay .error-massage {
  position: relative;
  left: 18px;
  font-family: "Nunito";
  margin-top: 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  color: var(--c-mediun-purple);
}

.chat-right-first-row-right {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.delete-message-left-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15px;
  left: 15px;
  opacity: 0.1;
  font-size: 20px;
  transition: transform ease-in-out 200ms;
}
.delete-message-left-corner:hover {
  color: rgb(147, 23, 23);
  opacity: 1;
  transform: scale(1.2);
}

.time {
  margin-right: 10px;
}

/*# sourceMappingURL=threads.component.css.map */
