.threads-card {
    min-width: 200px;
    height: calc(100vh - 130px);
    border-radius: 15px;
    padding: 32px 30px;
    margin: 15px 10px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .threads-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 65px;

        .thread-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 10px;

            h2 {
                margin: 0;
            }
        }  
    }

    @media (max-width: 1600px) {
       display: none;
    }
}