section {
  height: 100vh;
  max-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}
section h1,
section h2 {
  font-family: "Nunito", Arial, Helvetica, sans-serif !important;
  margin: 25px;
  font-size: 28px;
  font-weight: bold;
}
section a {
  color: var(--c-purple);
  text-decoration: none;
  transition: all 225ms ease-in-out;
  cursor: pointer;
}
@media (max-width: 970px) {
  section h2 {
    margin: 15px;
  }
}

/*------ Header ------*/
.header-parent {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-parent a {
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 50px;
}
.header-parent a:hover {
  border: 1px solid var(--c-light-purple);
}
@media (max-width: 970px) {
  .header-parent {
    position: relative;
  }
}

.header-logo-container {
  display: flex;
  align-items: center;
}
.header-logo-container img {
  width: 55px;
  object-fit: scale-down;
}

.header-link-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header-link-container p {
  margin: 0px;
}
@media (max-width: 970px) {
  .header-link-container {
    display: none;
  }
}

.mobile-header-link-container {
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile-header-link-container p {
  margin: 0px;
}
@media (min-width: 970px) {
  .mobile-header-link-container {
    display: none;
  }
}

/*------ Sign-in Card ------*/
mat-card {
  position: relative;
  width: 400px;
  border-radius: 15px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
mat-card h1 {
  margin: 0px 0px 35px 0px !important;
  font-size: 3rem !important;
  color: var(--c-purple);
}
mat-card p {
  margin: 5px 0px 35px 0px;
  text-align: center;
}
@media (max-width: 970px) {
  mat-card {
    width: clamp(19.063rem, 16.139rem + 14.615vw, 25rem);
    padding: 25px;
  }
  mat-card h1 {
    margin: 0px 0px 25px 0px !important;
    font-size: 2.5rem !important;
  }
  mat-card p {
    margin: 0px 0px 25px 0px;
    text-align: center;
  }
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form input {
  position: relative;
  width: 100%;
  height: 45px;
  padding: 15px 40px;
  font-family: "Nunito";
  background: var(--bg-color);
  border: 1px solid var(--bg-color);
  border-radius: 42px;
  box-sizing: border-box;
  transition: all 225ms ease-in-out;
  cursor: pointer;
}
form input:hover {
  border: 1px solid black;
}

.input-parent {
  position: relative;
  width: 100%;
}
.input-parent img {
  position: absolute;
  top: 11px;
  left: 12px;
}
.input-parent div {
  display: flex;
  justify-content: center;
}

.forgot-password {
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 50px;
}
.forgot-password:hover {
  background-color: var(--bg-color);
}

.or-parent {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.or-parent .grey-line {
  z-index: 1;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  border: 1px solid var(--c-light-purple);
}
.or-parent .or-child {
  z-index: 2 !important;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

.button-google {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: var(--c-purple);
  background-color: var(--bg-color);
  border: 1px solid transparent;
  border-radius: 42px;
  transition: all 225ms ease-in-out;
  cursor: pointer;
}
.button-google:hover {
  border: 1px solid var(--c-purple);
}

.button-bottom-parent {
  width: 100%;
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-bottom-parent button,
.button-bottom-parent a {
  width: 125px;
  height: 45px;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid var(--c-purple);
  border-radius: 42px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  transition: all 225ms ease-in-out;
  cursor: pointer;
}
.button-bottom-parent .button-sign-in {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background-color: var(--c-purple);
}
.button-bottom-parent .button-sign-in:hover {
  background-color: #575ff7;
}
.button-bottom-parent .button-sign-in:disabled {
  background-color: #E0E0E0;
}
.button-bottom-parent .button-guest-login {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--c-purple);
  background-color: var(--white);
}
.button-bottom-parent .button-guest-login:hover {
  color: var(--white);
  background-color: var(--c-purple);
}

.bottom-container {
  width: 100%;
  gap: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 970px) {
  .bottom-container {
    gap: 30px;
  }
}

.error-parent {
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 970px) {
  .error-parent {
    height: 30px;
  }
}

mat-error {
  line-height: 10px;
}

.error-notification {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 0.6rem !important;
}

.error-border {
  border: 1px solid var(--c-error) !important;
}

.loading-parent {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 15px;
  background: linear-gradient(45deg, rgba(100, 100, 100, 0.4), rgba(112, 112, 112, 0.4), rgba(209, 209, 209, 0.4), rgba(219, 219, 219, 0.4));
}

.legal-container {
  margin-top: 25px;
}
.legal-container a {
  color: #686868;
}
.legal-container :hover {
  color: var(--c-purple) !important;
}

mat-spinner {
  width: 40px !important;
  height: 40px !important;
}
mat-spinner ::ng-deep circle {
  stroke: var(--white) !important;
}

/*------ Left To Right Message ------*/
.slide-in-container {
  z-index: 10000;
  position: absolute;
  top: 70%;
  right: 50%;
  width: 326px;
  height: 74px;
  padding: 15px 25px;
  transform: translateX(50%);
  background-color: var(--c-purple);
  border: 1px solid var(--c-purple);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  opacity: 0;
}
.slide-in-container div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.slide-in-container span {
  color: var(--white);
  font-weight: bold;
}
@media (max-width: 970px) {
  .slide-in-container {
    width: 246px;
    height: 54px;
  }
}

.slide-in-animation {
  animation: leftToRight 0.8s ease-in-out forwards 0.2s;
}

@keyframes leftToRight {
  from {
    right: 0%;
    transform: translateX(0%);
    opacity: 0;
  }
  to {
    right: 50%;
    transform: translateX(50%);
    opacity: 1;
  }
}

/*# sourceMappingURL=sign-in.component.css.map */
