<section>
    <div class="signin-parent">
        <mat-card>
            <h1>Sign in</h1>
            <p>We recommend using the email address you use at work.</p>
            <form>
                <div class="input-parent">
                    <input [placeholder]="'example@email.com'" required>
                </div>
                <div class="input-parent">
                    <input [placeholder]="'Password'" required>
                </div>

                <a class="forgot-password">Forgot password?</a>

                <div class="or-parent">
                    <div class="grey-line"></div>
                    <div class="or-child">OR</div>
                </div>
                
                <button class="button-google">
                    <img src="./assets/img/" alt="Google">
                    <span>Sign in with Google</span>
                </button>

                <div class="button-bottom-parent">
                    <button class="button-sign-in">Login</button>
                    <a class="button-guest-login">Guest-Login</a>
                </div>
            </form>
        </mat-card>
    </div>
</section>
