
$line-spacing: 35px;

section {
    height: 100vh;
    max-height: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--bg-color);

    h1 {
        font-family: 'Nunito', Arial, Helvetica, sans-serif !important; // TEST
        margin: 25px;

        font-size: 3rem;
        font-weight: bold;
    }

    a { // TEST GLOABAL?????
        color: var(--c-purple);
        text-decoration: none;
        transition: all 225ms ease-in-out;
        cursor: pointer;
    }
}

/*------ Header ------*/
.header-parent {
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    padding: 10px 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        padding: 5px;

        border: 1px solid transparent;
        border-radius: 50px;
    
        &:hover {
            border: 1px solid var(--c-light-purple);
        }
    }
}

.header-logo-container {
    display: flex;
    align-items: center;
}

.header-link-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    p {
        margin: 0px;
    }
}

/*------ Sign-in Card ------*/
mat-card {
    width: 400px;
    border-radius: 15px;;
    padding: $line-spacing;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    h1 {
        color: var(--c-purple);
        margin: 0px 0px 35px 0px !important;
    }

    p {
        margin: 5px 0px 35px 0px;
        text-align: center;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    input {
        font-family: 'Nunito';
        padding: 15px 40px;
        width: 100%;
        height: 50px;
        position: relative;

        background: var(--bg-color);
        border: 1px solid var(--bg-color);
        border-radius: 42px;
        box-sizing: border-box;
        transition: all 225ms ease-in-out;
        cursor: pointer;

        &:hover {
            border: 1px solid black; // TEST IN GLOABL
        }
    }
}

.input-parent {
    position: relative;
    width: 100%;

    img {
        position: absolute;
        top: 12px;
        left: 12px;
    }

    div {
        display: flex;
        justify-content: center;
    }
}

.forgot-password {
    padding: 5px;

    border: 1px solid transparent;
    border-radius: 50px;

    &:hover {
        background-color: var(--bg-color);
    }
}

.or-parent {
    width: 100%;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    .grey-line {
        z-index: 1;
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        border: 1px solid var(--c-light-purple);
    }

    .or-child {
        padding: 10px;
        background-color: #ffffff;

        z-index: 2 !important;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.button-google {
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    font-size: 1rem;
    color: var(--c-purple);
    background-color: var(--bg-color);
    border-radius: 42px;
    border: 1px solid transparent;
    transition: all 225ms ease-in-out;
    cursor: pointer;

    &:hover {
        border: 1px solid var(--c-purple);
    }
}

.button-bottom-parent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    button,a {
        width: 125px;
        height: 45px;
    
        font-size: 1rem;
        font-weight: bold;
        border-radius: 42px;
        border: 1px solid var(--c-purple);
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
        transition: all 225ms ease-in-out;
        cursor: pointer;
    }

    .button-sign-in {
        color: var(--white);
        background-color: var(--c-purple);

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: #575ff7; // TEST IN GLOABL
        }

        &:disabled {
            background-color: #686868;
        }
    }
    
    .button-guest-login {
        color: var(--c-purple);
        background-color: var(--white);

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            color: var(--white);
            background-color: var(--c-purple);
        }
    }
}

.bottom-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $line-spacing;
}

.error-parent {
    width: 100%;
    height: $line-spacing;
}

.error-notification {
    font-size: 0.7rem !important;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.error-border {
    border: 1px solid var(--c-error) !important; // TEST IN GLOABL
}

.loading-parent {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border: 1px solid transparent;
    border-radius: 15px;;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(45deg, rgba(100, 100, 100, 0.4), rgba(112, 112, 112, 0.4), rgba(209, 209, 209, 0.4), rgba(219, 219, 219, 0.4));
}

mat-spinner {
    width: 40px !important;
    height: 40px !important;
    

    ::ng-deep circle {
        stroke: var(--white) !important;
    }
}

/*------ Left To Right Message ------*/
.account-create-send-message {
    z-index: 10000;
    position: absolute;
    top: 70%;
    right: 50%;
    transform: translateX(50%);
    padding: 15px 25px;
    width: 326px;
    height: 74px;
    background-color: var(--c-purple);
    border: 1px solid var(--c-purple);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    opacity: 0;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        width: 100%;
        height: 100%;
    }

    span {
        color: var(--white);
        font-weight: bold;
    }

    @media(max-width: 970px) {
        width: 246px;
        height: 54px;
    }
}

.account-message-animation {
    animation: leftToRight 0.8s ease-in-out forwards 0.2s;
}

@keyframes leftToRight {
    from {
        right: 0%;
        transform: translateX(0%);
        opacity: 0;
    }

    to {
        right: 50%;
        transform: translateX(50%);
        opacity: 1;
    }
}