@import "src/app/sign-in/sign-in.component.scss";

/*------ Reset-Password Card ------*/
mat-card {
    width: 520px;

    @media(max-width: 970px) {
        width: clamp(19.063rem, 12.447rem + 33.077vw, 32.5rem);
    }
}

.h1-parent {
    margin-bottom: 30px;
    gap: 8px;

    display: flex;

    @media(max-width: 970px) {
        flex-direction: column;
        align-items: center;

        h1 {
            margin: 0 !important;
        }
    }
}

.arrow-img {
    position: absolute;
    top: 35px;
    left: 25px;
    padding: 3px;

    border: 1px solid transparent;
    border-radius: 50%;
    transition: all 225ms ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: var(--bg-color);
    }
}

.info-text-parent {
    margin-bottom: $line-spacing;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-text {
    text-align: center;
    color: #686868;
}

.button-bottom-parent {
    width: 100%;

    display: flex;
    justify-content: flex-end;
}

.button-send-mail {
    width: 125px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
    background-color: var(--c-purple);
    border: 1px solid var(--c-purple);
    border-radius: 42px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    transition: all 225ms ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: #575ff7; // TEST IN GLOABL
    }

    &:disabled {
        background-color: #686868;
    }
}
