<section>
    <div class="header-parent">
        <div class="header-logo-container">
            <img src="./assets/img/Logo-small.png" alt="Logo">
            <h2>DABubble</h2>
        </div>
    </div>

    <mat-card>
        <img class="arrow-img" routerLink="/sign-in" src="./assets/img/icons/arrow_back_left.png" alt="Arrow">
        <div class="h1-parent">
            <h1>Change</h1>
            <h1>Password</h1>
        </div>
        <form (ngSubmit)="changePassword()" [formGroup]="confirmPasswortForm">
            <!--- password --->
            <div class="input-parent">
                <input
                    [ngClass]="{'error-border': confirmPasswortForm.controls['password'].invalid && (submitted ||confirmPasswortForm.controls['password'].dirty || confirmPasswortForm.controls['password'].touched)}"
                    type="password" formControlName="password" [placeholder]="'Password'" required>
                <img src="./assets/img/icons/lock.png" alt="Lock">
                <div class="error-parent">
                    <div *ngIf="confirmPasswortForm.controls['password'].errors && (submitted || confirmPasswortForm.controls['password'].dirty || confirmPasswortForm.controls['password'].touched)"
                        class="error-notification">
                        <!--- required --->
                        <mat-error *ngIf="confirmPasswortForm.controls['password'].errors['required']">Your password is
                            required.</mat-error>
                        <!--- minlength --->
                        <mat-error *ngIf="confirmPasswortForm.controls['password'].errors['minlength']
                        && confirmPasswortForm.controls['password'].touched">Min 8 characters.</mat-error>
                        <!--- pattern --->
                        <mat-error *ngIf="confirmPasswortForm.controls['password'].errors['pattern']
                        && confirmPasswortForm.controls['password'].touched">
                            Please use at least one capital letter, special character and number.</mat-error>
                    </div>
                </div>
            </div>
            <!--- confim-password --->
            <div class="input-parent">
                <input
                    [ngClass]="{'error-border': confirmPasswortForm.controls['confirmPassword'].invalid && (submitted ||confirmPasswortForm.controls['confirmPassword'].dirty || confirmPasswortForm.controls['confirmPassword'].touched) || confirmPasswortForm.hasError('mismatch')}"
                    type="password" formControlName="confirmPassword" [placeholder]="'Confirm-Password'" required>
                <img src="./assets/img/icons/lock.png" alt="Lock">
                <div class="error-parent">
                    <div *ngIf="confirmPasswortForm.controls['confirmPassword'].errors && (submitted || confirmPasswortForm.controls['confirmPassword'].dirty || confirmPasswortForm.controls['confirmPassword'].touched)"
                        class="error-notification">
                        <!--- required --->
                        <mat-error *ngIf="confirmPasswortForm.controls['confirmPassword'].errors['required']">
                            Your confirm password is required.</mat-error>
                    </div>
                    <!--- function --->
                    <mat-error *ngIf="confirmPasswortForm.hasError('mismatch')" class="error-notification">Your passwords do not match.</mat-error>
                </div>
            </div>

            <div class="button-bottom-parent">
                <button type="submit" [disabled]="isChangePassword" class="button-send-mail">
                    <span>Change Password</span>
                </button>
            </div>
        </form>

        <div *ngIf="isChangePassword" class="loading-parent">
            <mat-spinner></mat-spinner>
        </div>
    </mat-card>

    <div *ngIf="showSlideInNotification" [class.slide-in-animation]="showSlideInNotification"
        class="slide-in-container" #viewAnimation>
        <div>
            <span>Change password successfully!</span>
        </div>
    </div>
</section>