<section class="user-profile-card-section">
    <mat-card class="user-profile-card">
        <mat-card-header class="user-header">
            <mat-card-title>Dein Profil bearbeiten</mat-card-title>
            <mat-icon>close</mat-icon>
        </mat-card-header>
        <div class="user-img">
            <img src="/assets/profile-pictures/EliasNeumann.png">
        </div>
        <mat-card-content>
            <mat-form-field class="name-field">
                <mat-label>Vollständiger Name</mat-label>
                <input matInput placeholder="Vollständiger Name">
                <mat-icon>account_circle</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <mat-label>E-Mail-Adresse</mat-label>
                <input matInput placeholder="E-Mail-Adresse">
                <mat-icon>mail_outline</mat-icon>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions class="user-message-button">
            <button mat-stroked-button>Abbrechen</button>
            <button mat-flat-button color="primary">Speichern</button>
        </mat-card-actions>
    </mat-card>
</section>
