<section class="user-profile-card-section">
    <mat-card class="user-profile-card">
        <mat-card-header class="user-header">
            <mat-card-title>Profile</mat-card-title>
            <mat-icon>close</mat-icon>
        </mat-card-header>
        <div class="user-img">
            <img src="/assets/profile-pictures/EliasNeumann.png">
        </div>
        <mat-card-content>
            <div class="user-contact-info">
                <p>Elias Neumann</p>
                <a [routerLink]="['/edit-user']">Bearbeiten</a>
            </div>
            <div class="user-status">
                <p><svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
                        <circle cx="4" cy="4" r="4" fill="#92C83E" />
                    </svg>
                    Aktiv
                </p>
            </div>
            <div class="user-email">
                <mat-icon>mail_outline</mat-icon>
                <div class="user-email-link">
                    <p>E-Mail-Adresse</p>
                    <a href="#">ichbinelias@beispiel.com</a>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</section>