<section>
    <div class="header-parent">
        <div class="header-logo-container">
            <img src="./assets/img/Logo-small.png" alt="Logo">
            <h2>DABubble</h2>
        </div>
        <div class="button-container">
            <button class="go-back-button">
                <span (click)="navigateBack()">Go back</span>
            </button>
        </div>
    </div>

    <main>
        <div class="content">
            <h1>Privacy Policy</h1>
            <h1>1. Overview of Data Protection</h1>
            <p>General Information</p>
            <p>The following information provides a simple overview of what happens to your personal data when you visit
                this website. Personal data refers to any data that can personally identify you. For detailed
                information on
                data protection, please refer to our privacy policy listed below this text.</p>

            <h3>Data Collection on this Website</h3>
            <p>Who is responsible for data collection on this website?</p>
            <p>The data processing on this website is carried out by the website operator. You can find the contact
                details
                in the "Responsible Party Information" section of this privacy policy.</p>

            <p>How do we collect your data?</p>
            <p>Your data is collected when you provide it to us, for example, by filling out a contact form.</p>

            <p>Other data is automatically collected or obtained with your consent when you visit the website through
                our IT
                systems. This includes technical data (e.g., internet browser, operating system, or time of page
                access).
                The collection of this data occurs automatically when you enter this website.</p>

            <p>How do we use your data?</p>
            <p>Some of the data is collected to ensure the proper functioning of the website. Other data may be used to
                analyze your user behavior.</p>

            <p>What rights do you have regarding your data?</p>
            <p>You have the right to receive information about the origin, recipient, and purpose of your stored
                personal
                data free of charge at any time. You also have the right to request the correction or deletion of this
                data.
                If you have given your consent to data processing, you can revoke it at any time for the future.
                Furthermore, under certain circumstances, you have the right to request the restriction of the
                processing of
                your personal data. Additionally, you have the right to file a complaint with the competent supervisory
                authority.</p>

            <p>For these matters and other questions related to data protection, you can contact us at any time.</p>

            <h1>2. Hosting</h1>
            <p>We host the content of our website with the following provider:</p>

            <h3>External Hosting</h3>
            <p>This website is hosted externally. The personal data collected on this website is stored on the servers
                of
                the hoster(s). This data may include IP addresses, contact inquiries, meta and communication data,
                contract
                data, contact details, names, website access, and other data generated through the website.</p>

            <p>External hosting is done to fulfill our contractual obligations towards potential and existing customers
                (Art. 6 (1) lit. b GDPR) and for the interest of a secure, fast, and efficient provision of our online
                services by a professional provider (Art. 6 (1) lit. f GDPR). If consent is requested, processing will
                be
                carried out based on Art. 6 (1) lit. a GDPR and § 25 (1) TTDSG, to the extent that the consent includes
                the
                storage of cookies or access to information on the user's device (e.g., device fingerprinting) as
                defined by
                TTDSG. Consent can be revoked at any time.</p>

            <p>Our hoster(s) will process your data only to the extent necessary to fulfill their performance
                obligations
                and will follow our instructions regarding this data.</p>

            <p>We use the following hoster(s):</p>
            <ul>
                <li>Firebase</li>
            </ul>

            <h1>3. General Information and Mandatory Information</h1>
            <p>Data Protection</p>
            <p>The operators of these pages take the protection of your personal data very seriously. We treat your
                personal
                data confidentially and in accordance with the legal data protection regulations and this privacy
                policy.
            </p>

            <p>When you use this website, various personal data is collected. Personal data refers to data that can
                personally identify you. This privacy policy explains what data we collect and how we use it. It also
                explains how and for what purpose this happens.</p>

            <p>We would like to point out that data transmission over the Internet (e.g., when communicating by e-mail)
                may
                have security vulnerabilities. A complete protection of data against access by third parties is not
                possible.</p>

            <h3>Responsible Party Information</h3>
            <p>The responsible party for data processing on this website is:</p>
            <p>Maximilian Scheel</p>
            <p>Phone: +4915906375887</p>
            <p>Email: contact@maxscheel.dev</p>

            <p>The responsible party is the natural or legal person who, alone or jointly with others, decides on the
                purposes and means of processing personal data (e.g., names, email addresses, etc.).</p>

            <h3>Storage Duration</h3>
            <p>If no specific storage duration is specified within this privacy policy, your personal data will remain
                with
                us until the purpose for data processing ceases. If you assert a legitimate request for deletion or
                revoke
                your consent to data processing, your data will be deleted, unless we have other legally permissible
                reasons
                for storing your personal data (e.g., tax or commercial retention periods); in the latter case, the
                deletion
                will take place after these reasons no longer apply.</p>

            <h3>General Information about Data Processing Legal Basis on this Website</h3>
            <p>If you have given your consent to data processing, we process your personal data based on Art. 6 (1) lit.
                a
                GDPR or Art. 9 (2) lit. a GDPR if special categories of data are processed based on Art. 9 (1) GDPR. If
                there is an explicit consent to transfer personal data to third countries, processing will also be based
                on
                Art. 49 (1) lit. a GDPR. If you have consented to the storage of cookies or the access to information on
                your device (e.g., via device fingerprinting), processing will be based on § 25 (1) TTDSG. You can
                revoke
                your consent at any time. If your data is required for the performance of a contract or for
                pre-contractual
                measures, we process it based on Art. 6 (1) lit. b GDPR. Furthermore, we process your data if necessary
                for
                compliance with a legal obligation based on Art. 6 (1) lit. c GDPR. Data processing can also be carried
                out
                based on our legitimate interest according to Art. 6 (1) lit. f GDPR. Information on the relevant legal
                basis for individual cases is provided in the following paragraphs of this privacy policy.</p>

            <h3>Revocation of Your Consent to Data Processing</h3>
            <p>Many data processing operations are only possible with your express consent. You can revoke your consent
                at
                any time. The legality of the data processing carried out until the revocation remains unaffected by the
                revocation</p>
            <h3>Right to Object to Data Collection in Special Cases and Direct Advertising (Art. 21 GDPR)</h3>
            <p>If data processing is based on Art. 6 (1) lit. e or f GDPR, you have the right to object to the
                processing of
                your personal data for reasons that arise from your particular situation, including profiling based on
                these
                provisions. The respective legal basis on which processing is based can be found in this privacy policy.
                If
                you object, we will no longer process your personal data, unless we can demonstrate compelling
                legitimate
                grounds for the processing that override your interests, rights, and freedoms, or the processing serves
                the
                assertion, exercise, or defense of legal claims (objection according to Art. 21 (1) GDPR).</p>
            <p>If your personal data is processed for direct advertising purposes, you have the right to object at any
                time
                to the processing of your personal data for the purpose of such advertising; this also applies to
                profiling
                if it is associated with such direct advertising. If you object, your personal data will no longer be
                used
                for direct advertising purposes (objection according to Art. 21 (2) GDPR).</p>
            <h3>Right to Lodge a Complaint with a Supervisory Authority</h3>
            <p>In the case of violations of the GDPR, data subjects have the right to lodge a complaint with a
                supervisory
                authority, in particular in the Member State of their habitual residence, place of work, or the place of
                the
                alleged violation. The right to lodge a complaint is without prejudice to other administrative or
                judicial
                remedies.</p>
            <h3>Right to Data Portability</h3>
            <p>You have the right to have data that we process automatically based on your consent or in fulfillment of
                a
                contract handed over to you or to a third party in a standard, machine-readable format. If you request
                the
                direct transfer of the data to another responsible party, this will only be done to the extent
                technically
                feasible.</p>
            <h3>Information, Correction, and Deletion</h3>
            <p>Within the scope of the applicable legal provisions, you have the right to obtain information free of
                charge
                at any time about your stored personal data, its origin and recipients, and the purpose of data
                processing
                and, if applicable, a right to correct or delete this data. For this purpose, as well as for further
                questions regarding personal data, you can contact us at any time.</p>
            <h3>Right to Restriction of Processing</h3>
            <p>You have the right to request the restriction of the processing of your personal data. To do so, you can
                contact us at any time. The right to restrict processing exists in the following cases:</p>
            <ul>
                <li>If you contest the accuracy of your personal data stored with us, we usually need time to verify
                    this.
                    For the duration of the review, you have the right to request the restriction of the processing of
                    your
                    personal data.</li>
                <li>If the processing of your personal data is unlawful, but you do not want it to be deleted, you can
                    request the restriction of the processing instead.</li>
                <li>If we no longer need your personal data, but you need it for the exercise, defense, or assertion of
                    legal claims, you have the right to request the restriction of the processing of your personal data.
                </li>
                <li>If you have objected to the processing according to Art. 21 (1) GDPR, a balance must be made between
                    your interests and ours. As long as it is not yet clear whose interests prevail, you have the right
                    to
                    request the restriction of the processing of your personal data.</li>
                <li>If you have restricted the processing of your personal data, this data – apart from its storage –
                    may
                    only be processed with your consent or for the assertion, exercise, or defense of legal claims or
                    for
                    the protection of the rights of another natural or legal person or for reasons of important public
                    interest of the European Union or a Member State.</li>
            </ul>
            <h3>SSL/TLS Encryption</h3>
            <p>For security reasons and to protect the transmission of confidential content, such as orders or inquiries
                that you send to us as the website operator, this site uses SSL/TLS encryption. You can recognize an
                encrypted connection by the fact that the address line of the browser changes from "http://" to
                "https://"
                and by the lock symbol in your browser line.</p>
            <p>If SSL/TLS encryption is activated, the data you transmit to us cannot be read by third parties.</p>
            <h1>4. Plugins and Tools</h1>
            <h3>Google Fonts (local hosting)</h3>
            <p>This website uses so-called Google Fonts for the uniform display of fonts, which are provided by Google.
                The
                Google Fonts are installed locally. There is no connection to Google's servers.</p>
            <p>For more information about Google Fonts, please visit: <a href="https://developers.google.com/fonts/faq"
                    target="_blank">https://developers.google.com/fonts/faq</a> and Google's privacy policy: <a
                    href="https://policies.google.com/privacy?hl=en"
                    target="_blank">https://policies.google.com/privacy?hl=en</a>.</p>
            <p>Source: <a href="https://www.e-recht24.de" target="_blank">https://www.e-recht24.de</a></p>
        </div>
    </main>
     
    
</section>