<div class="chat-wrapper-main">
  <mat-card class="chat-card">
    <div class="white-box"></div>
    <div class="shadow-box"></div>
    <div class="chat-first-row">
      <div class="chat-head" *ngIf="(receivedChannelData$ | async) as channel" (click)="editChannel()">
        <img class="hash-chat-name" src="./assets/img/icons/tag.svg" alt="#">
        <span class="chat-name">{{ channel.channelName }}</span>
        <img class="add-participant" src="./assets/img/icons/keyboard_arrow_down.png" alt="#">
      </div>
      <div class="right-corner">
        <div class="participant-container">
          <img class="participant-icon" src="./assets/img/avatar.png" alt="">
          <img class="participant-icon" src="./assets/img/avatar.png" alt="">
          <img class="participant-icon" src="./assets/img/avatar.png" alt="">
        </div>
        <div class="participant-amount">
          3
        </div>
        <div class="add-participant-background">
          <img class="add-participant" src="./assets/img/icons/add_participant.png" alt="#">
        </div>
      </div>
    </div>
    <div class="chat-text-area">
      <div class="parting-line"></div>
      <div class="flex-center time-partLine">
        <div class="time-stamp">Thursday, July 13</div>
      </div>

      <div *ngFor="let message of messageData; let index = index" class="chat-right">
        <div class="flex-row ">
          <div class="messages-right">
            <div class="chat-bubble-head right-bubble">
              <span class="chat-name" (click)="openUserProfile()">{{ message.senderName }}</span>
              <span class="chat-timeStamp">{{ message.time | date:'mediumTime' }}</span>
            </div>
            <div>
              <span class="chat-message-right">{{ message.messageText }}</span>
            </div>
            <div class="like-area">
              <div *ngIf="message.emojis.length > 0" class="reaction-icon-container">
                <div class="reaction-counter">{{ message.emojis[0]['emoji'] }}</div>
                <span class="reaction-counter">{{ message.emojis.length }}</span>
              </div>
              <div class="reaction-icon-container">
                <img src="./assets/img/icons/tick_green.svg" alt="">
                <span class="reaction-counter">1</span>
              </div>

              <div class="reaction-emojis" id="reaction{{index}}">
                <div *ngFor="let emoji of reactionEmojis" class="r-emoji" (click)="reactWithEmoji(emoji, index)">{{
                  emoji }}</div>
              </div>

              <div (click)="reaction(message.emojis, index)" class="reaction-button-container">
                <div class="reaction-button"></div>
              </div>
            </div>
          </div>
          <div>
            <img class="profile-pictures-chat" src="./assets/img/avatar.png" alt="">
          </div>
        </div>
      </div>


      <div class="chat-container">
        <!-- ngFor loop to display each message -->
        <div *ngFor="let message of messageData; let index = index">
          <!-- Add a horizontal line after each message except the first one -->
          <div class="parting-line" *ngIf="isNewDay(message, messageData[index - 1])"></div>

          <!-- Format and display the date only if it's a new day -->
          <div class="flex-center time-partLine" *ngIf="isNewDay(message, messageData[index - 1])">
            <div class="time-stamp">{{ getFormattedDate(message.time) }}</div>
          </div>

          <div class="message-container">
            <mat-icon class="delete-message-right-corner" (click)="selectMessage(message.id)">delete</mat-icon>
            <div class="chat-left">
              <div>
                <img class="profile-pictures-chat" src="./assets/img/avatar.png" alt="">
              </div>
              <div class="messages-left">
                <div class="chat-bubble-head">
                  <span class="chat-name" (click)="openUserProfile()">{{ message.sentBy }}</span>
                  <span class="chat-timeStamp">{{ message.time | date:'mediumTime' }}</span>
                </div>
                <div>
                  <span class="chat-message-left">{{ message.messageText }}</span>
                </div>
                <div>
                  <span class="responses-left">2 Responses</span>
                  <span class="chat-timeStamp">Last reply {{ formatTimeStamp(message.time) }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>


    <!-- Input field -->
    <div class="message-input-field">
      <div class="text-editor">
        <app-emojis (newEmoji)="typeEmoji($event)" class="app-emojis" *ngIf="emojipickeractive"></app-emojis>

        <textarea placeholder="Message to # ..." [(ngModel)]="messageInput" name="" rows="4">
        </textarea>
        <div class="text-editor-bottom">
          <div class="text-editor-left-btns">
            <div class="attach"></div>
            <div class="vertical-line-textEditor"></div>
            <div class="emoji-container" (click)="toggleEmojiPicker()"></div>
            <div class="mail-container"></div>
          </div>
          <div class="send-message-btn" (click)="sendMessage()"></div>
        </div>
      </div>
    </div>
  </mat-card>
</div>

<app-chat-extend></app-chat-extend>

<!-- Profile Content -->
<div class="overlay" *ngIf="isProfileCardOpen" (click)="closeUserProfile()">
  <section class="user-profile-card-section">
    <mat-card class="user-profile-card">
      <mat-card-header class="user-header">
        <mat-card-title>Profile</mat-card-title>
        <mat-icon (click)="closeUserProfile()">close</mat-icon>
      </mat-card-header>
      <div class="user-img">
        <img src="/assets/profile-pictures/EliasNeumann.png">
      </div>
      <mat-card-content>
        <div class="user-contact-info">
          <p>Elias Neumann</p>
        </div>
        <div class="user-status">
          <p><svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
              <circle cx="4" cy="4" r="4" fill="#92C83E" />
            </svg>
            Aktiv
          </p>
        </div>
        <div class="user-email">
          <mat-icon>mail_outline</mat-icon>
          <div class="user-email-link">
            <p>E-Mail-Adresse</p>
            <a>ichbinelias@beispiel.com</a>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions class="user-message-button">
        <button mat-flat-button color="primary"><mat-icon>chat_bubble_outline</mat-icon>Nachricht</button>
      </mat-card-actions>
    </mat-card>
  </section>
</div>

<!-- Edit Channel -->
<mat-card class="overlay" *ngIf="openEditChannel">
  <div class="channel-edit-card">
    <div class="channel-text" *ngIf="(receivedChannelData$ | async) as channel">
      <div class="channel-header">
        <h1># {{ channel.channelName }}</h1>
        <img src="./assets/img/icons/close.png" alt="#" (click)="closeEditChannel()">
      </div>
    </div>

    <div *ngIf="!(editChannelName)">
      <div class="frame-edit" *ngIf="(receivedChannelData$ | async) as channel">
        <div class="channel-edit">
          <h2>Channel-Name</h2>
          <span (click)="updateChannelName()">Edit</span>
        </div>
        <h2># {{ channel.channelName }}</h2>
      </div>
    </div>

    <div *ngIf="editChannelName">
      <div class="channel-edit" *ngIf="(receivedChannelData$ | async) as channel">
        <h2>Channel-Name</h2>
        <span (click)="saveChangesToChannelName()">Save</span>
      </div>
      <form [formGroup]="channelName">
        <div class="channel-inputs">
          <input class="channel-name" type="text" placeholder="z.B. Kooperationsprojekte" formControlName="channelName">
        </div>
      </form>
    </div>

    <div *ngIf="!(editChannelDescription)">
      <div class="frame-edit" *ngIf="(receivedChannelData$ | async) as channel">
        <div class="channel-edit">
          <h2># {{ channel.channelName }}</h2>
          <span (click)="updateChannelDiscription()">Edit</span>
        </div>
        <div class="channel-text">
          <p>
            This channel is for everything related to #dfsdf. Here you can hold meetings with your team, share documents
            and make decisions.</p>
        </div>
        <div class="under-line"></div>
        <div class="channel-creator">
          <h2>Created by</h2>
          <span>Frederik Beck</span>
        </div>
      </div>
    </div>

    <div *ngIf="editChannelDescription">
      <div class="channel-edit" *ngIf="(receivedChannelData$ | async) as channel">
        <h2>Bearbeiten</h2>
        <span (click)="saveChangesToChannelDescription()">Save</span>
      </div>
      <form [formGroup]="channelDescription">
        <div class="channel-inputs">
          <input class="channel-name" type="text" placeholder="Enter your text..." formControlName="channelDescription">
        </div>
      </form>
    </div>

    <div class="btn-area">
      <button class="btn-channel" (click)="leaveChannel()">Channel Verlassen</button>
    </div>
  </div>
</mat-card>