<div class="header-container">
    <div>
        <input class="search-bar" type="text" placeholder="Code learning durchsuchen" id="searchUser">
    </div>
    <div>
        <div (click)="openLogoutContainer()" class="profile">
            <h2>{{ userName }}</h2>
            <img class="user-icon" src="{{ userPicture }}" alt="">
            <mat-icon>keyboard_arrow_down</mat-icon>
            <div class="status"></div>
        </div>
    </div>

    <!-- Logout Container -->
    <div class="logout-container" *ngIf="isLogoutContainerOpen" #containerRef>
        <div class="logout">
            <div class="logout-info">
                <p (click)="openUserProfile()">Profile</p>
                <p (click)="this.authentication.logoutAuth()">Log out</p>
            </div>
        </div>
    </div>

    <!-- Overlay -->
    <div class="overlay" *ngIf="isLogoutContainerOpen || isProfileCardOpen || isEditProfileCardOpen"
        (click)="closeContainers()"></div>

    <!-- Profile Container-->
    <section class="user-profile-card-section" *ngIf="isProfileCardOpen">
        <mat-card class="user-profile-card">
            <mat-card-header class="user-header">
                <mat-card-title>Profile</mat-card-title>
                <mat-icon (click)="closeUserProfile()">close</mat-icon>
            </mat-card-header>
            <div class="user-img-one">
                <img src="{{ userPicture }}">
            </div>
            <mat-card-content>
                <div class="user-contact-info">
                    <p>{{ userName }}</p>
                    <a (click)="openEditProfileCard()">Edit</a>
                </div>
                <div class="user-status">
                    <p>
                        <svg *ngIf="active" xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
                            <circle cx="4" cy="4" r="4" fill="#92C83E" />
                        </svg>
                        <svg *ngIf="!active" xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
                            <circle cx="4" cy="4" r="4" fill="#FF0000" />
                        </svg>
                        {{ userStatus }}
                    </p>
                </div>
                <div class="user-email">
                    <mat-icon>mail_outline</mat-icon>
                    <div class="user-email-link">
                        <p>E-Mail-Address</p>
                        <a>{{ userEmail }}</a>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </section>

    <!-- Edit Profile Container-->
    <section class="user-profile-card-section" *ngIf="isEditProfileCardOpen">
        <mat-card class="user-profile-card">
            <mat-card-header class="user-header">
                <mat-card-title>Edit Profile</mat-card-title>
                <mat-icon (click)="closeEditUserProfile()">close</mat-icon>
            </mat-card-header>
            <div class="user-img" (mouseenter)="showEditIcon()" (mouseleave)="hideEditIcon()">
                <img src="{{ userPicture }}">
                <mat-icon (click)="openPictureContainer()" class="edit-icon" *ngIf="showIcon">edit_outline</mat-icon>
            </div>
            <mat-card-content class="user-edit-input">
                <form class="name-form" [formGroup]="editName">
                    <div class="name-field">
                        <div>
                            <mat-icon>account_circle</mat-icon>
                        </div>
                        <div>
                            <mat-label>Full Name</mat-label>
                        </div>
                    </div>
                    <input formControlName="name" matInput placeholder="Full Name">
                </form>
                <form class="email-form" [formGroup]="editMail">
                    <div class="e-mail-field">
                        <mat-icon>mail_outline</mat-icon>
                        <mat-label>E-Mail-Address</mat-label>
                    </div>
                    <input formControlName="email" matInput placeholder="E-Mail-Address">
                    <input formControlName="password" type="password" matInput placeholder="Password">
                </form>
            </mat-card-content>
            <mat-card-actions class="edit-buttons">
                <button (click)="closeEditUserProfile()" class="interrupt-button" mat-stroked-button>Cancel</button>
                <button (click)="editUserProfile()" class="save-button" mat-flat-button color="primary">Save</button>
            </mat-card-actions>
        </mat-card>

        <div *ngIf="isProfilePictureContainerOpen" style="z-index: 99999;">
            <div class="profile-picture-container">
              <div class="new-profile-picture-container" *ngFor="let picture of profilePictures; let i = index;">
                <img class="profile-picture" [src]="picture" alt="Profile Picture" [class.selected]="i === selectedPictureIndex" (click)="onPictureClick(i)">
              </div>
              <div>
                <button (click)="closeProfilePictureContainer()" class="interrupt-button" mat-stroked-button>Cancel</button>
                <button (click)="saveProfilePicture()" class="save-button" mat-flat-button color="primary">Save</button>
              </div>
            </div>
          </div>

    </section>
</div>