.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;

    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 16px;

        h1 {
            font-weight: bold;
            margin: 0;
        }

        img {
            width: 55px;
            object-fit: scale-down;
        }
    }

    .search-bar {
        display: flex;
        min-width: 689px;
        padding: 17.5px 45px;
        justify-content: space-between;
        align-items: center;
        border-radius: 42px;
        background: var(--white, #FFF);
        border-style: none;
    }

    .profile {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        cursor: pointer;

        h2 {
            margin: 0;
            font-weight: bold;
        }

        .status {
            position: absolute;
            top: 72px;
            right: 69px;
            width: 16.667px;
            height: 16.667px;
            border-radius: 100%;
            border: 2px solid var(--white);
            background-color: #92C83E;
        }

        &:hover {

            h2,
            mat-icon {
                color: var(--text-hover);
            }
        }
    }

    .logout-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 95px;
        right: 15px;
        width: 13rem;
        height: 9rem;
        border: 2px solid var(--white);
        background-color: white;
        z-index: 999;
        border-radius: 25px 0 25px 25px;
        text-align: center;

        p {
            line-height: 1.9rem;
            font-size: 1.1rem;
            font-weight: 600;
        }

        mat-icon {
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 10px;
        }

        .logout-info {
            cursor: pointer;
        }
    }
}