.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  column-gap: 37px;
}
.header-container .header-logo-container {
  display: flex;
  align-items: center;
}
.header-container .header-logo-container h2 {
  font-family: "Nunito", Arial, Helvetica, sans-serif !important;
  margin: 25px;
  font-size: 28px;
  font-weight: bold;
}
.header-container .header-logo-container img {
  width: 55px;
  object-fit: scale-down;
}
.header-container .search-bar-parent {
  position: relative;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-container .search-bar-parent input {
  display: flex;
  min-width: 100%;
  padding: 17.5px 45px;
  justify-content: space-between;
  align-items: center;
  border-radius: 42px;
  background: var(--white, #FFF);
  border-style: none;
}
.header-container .search-bar-parent img {
  position: absolute;
  top: 14px;
  right: -27px;
  width: 20px;
  height: 20px;
  object-fit: contain;
}
@media (max-width: 970px) {
  .header-container .search-bar-parent {
    display: none;
  }
}
.header-container .profile {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  cursor: pointer;
}
.header-container .profile .user-icon {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
}
.header-container .profile mat-icon {
  padding-right: 13px;
}
.header-container .profile h2 {
  font-family: "Nunito";
  font-size: 28px;
  font-style: normal;
  font-weight: bold;
  margin: 0;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
@media (max-width: 970px) {
  .header-container .profile h2 {
    display: none;
  }
}
.header-container .profile .status {
  position: absolute;
  top: 45px;
  right: 33px;
  width: 16.667px;
  height: 16.667px;
  border-radius: 100%;
  border: 2px solid var(--white);
  background-color: #92C83E;
}
.header-container .profile:hover h2,
.header-container .profile:hover mat-icon {
  color: var(--text-hover);
}
@media (max-width: 970px) {
  .header-container .profile mat-icon {
    display: none;
  }
}
.header-container .logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 95px;
  right: 15px;
  width: 13rem;
  height: 9rem;
  border: 2px solid var(--white);
  background-color: white;
  z-index: 999;
  border-radius: 25px 0 25px 25px;
  text-align: center;
}
.header-container .logout-container p {
  line-height: 1.9rem;
  font-size: 1.1rem;
  font-weight: 600;
}
.header-container .logout-container .logout-info {
  cursor: pointer;
}
.header-container .logout-container .logout-info div {
  display: flex;
  align-items: center;
}
.header-container .logout-container .logout-info div p {
  margin: 0;
}
.header-container .logout-container .logout-info mat-icon {
  margin-right: 8px;
}
@media (max-width: 970px) {
  .header-container .logout-container {
    top: unset;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
  }
  .header-container .logout-container .logout-info div {
    margin: 16px 0px 16px 0px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

section {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 999;
}
@media (max-width: 970px) {
  section {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }
}

.user-profile-card {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  width: 24rem;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  line-height: 2;
}
.user-profile-card .user-header {
  padding: 16px 8px 0;
}
.user-profile-card a {
  text-decoration: none;
  color: #1381FF;
}
.user-profile-card .user-header {
  display: flex;
  justify-content: space-between;
}
.user-profile-card .user-header mat-card-title {
  font-weight: 700 !important;
}
.user-profile-card .user-header mat-icon {
  cursor: pointer;
}
.user-profile-card .user-img-one {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.user-profile-card .user-img-one img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  transition: filter 0.3s ease-in-out;
}
.user-profile-card .user-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  position: relative;
}
.user-profile-card .user-img img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  transition: filter 0.3s ease-in-out;
}
.user-profile-card .edit-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  padding: 0.6rem;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.user-profile-card .edit-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-profile-card .user-img:hover img {
  filter: brightness(80%);
}
.user-profile-card .user-img:hover .edit-icon {
  opacity: 1;
}
.user-profile-card .user-contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-profile-card .user-contact-info a {
  cursor: pointer;
}
.user-profile-card .user-contact-info p {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 43px;
  margin: 0;
}
.user-profile-card .user-status {
  color: #92C83E;
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;
}
.user-profile-card .user-email {
  display: flex;
}
.user-profile-card .user-email .user-email-link {
  padding-left: 0.9rem;
}
.user-profile-card .name-field,
.user-profile-card .e-mail-field {
  display: flex;
}
.user-profile-card .name-field mat-icon,
.user-profile-card .e-mail-field mat-icon {
  margin-right: 0.4rem;
  margin-top: 0.1rem;
}
.user-profile-card .email-form,
.user-profile-card .name-form {
  margin-bottom: 1rem;
}
.user-profile-card .email-form input,
.user-profile-card .name-form input {
  width: 95%;
  height: 1.5rem;
  border-radius: 1rem;
  padding: 0.3rem;
  padding-left: 1rem;
  border: 0.1rem solid lightgray;
}
.user-profile-card .email-form mat-label,
.user-profile-card .name-form mat-label {
  font-weight: bold;
}
@media (max-width: 970px) {
  .user-profile-card {
    width: 19rem;
  }
}

.profile-picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: white;
  border-radius: 15px;
  padding: 3rem;
  position: absolute;
  top: 0rem;
  right: 0rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 999;
}
.profile-picture-container mat-icon {
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 25px;
}
.profile-picture-container .edit-buttons-pictures {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 21rem;
}
@media (max-width: 970px) {
  .profile-picture-container .edit-buttons-pictures {
    width: 15rem;
  }
}
.profile-picture-container .profile-picture {
  width: 8rem;
  border-radius: 50%;
  border: 5px solid transparent;
  cursor: pointer;
}
@media (max-width: 970px) {
  .profile-picture-container .profile-picture {
    width: 6rem;
  }
}
.profile-picture-container .profile-picture.selected {
  border: 5px solid var(--c-error);
}
@media (max-width: 970px) {
  .profile-picture-container {
    padding: 1.5rem;
    gap: 1rem;
    width: 19rem;
    height: 80%;
    overflow-y: scroll;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }
}

button {
  width: 154px;
  height: 45px;
  border-radius: 50px;
  background: #444DF2;
}

.interrupt-button {
  background-color: white;
}

.error-border {
  border: 1px solid var(--c-error) !important;
}

.error-parent {
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 970px) {
  .error-parent {
    height: 30px;
  }
}

mat-error {
  line-height: 10px;
}

.error-notification {
  font-size: 0.6rem !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/*# sourceMappingURL=header-bar.component.css.map */
