<div class="header-container">
    <div *ngIf="!(this.chatBehaviorService.headerMoblieView)">
        <div class="header-inline">
            <div class="header-logo-container" >
                <img src="./assets/img/Logo-small.png" alt="Logo">
                <h2>DABubble</h2>
            </div>
            <!--<div class="search-bar-parent">
                <input type="text" placeholder="Search in code learning" id="searchUser">
                <img src="./assets/img/icons/search.png" alt="Search">
            </div>-->
        </div>
    </div>
    
    <div *ngIf="this.chatBehaviorService.headerMoblieView">
        <div class="channel-header-mobile">
            <mat-icon (click)="backToChannelMobile()">arrow_back_ios</mat-icon>
            <div class="channel-info" *ngIf="(receivedChannelData$ | async) as channel">
                <div class="shape"><img src="./assets/img/icons/channel-sample-icon.png" alt="#"></div>
                <h2>{{ channel.channelName }}</h2>
            </div>   
        </div>
    </div>
   
    <div (click)="openLogoutContainer()" class="profile">
        <h2>{{ this.userDataService.userName }}</h2>
        <img class="user-icon" src="{{ this.userDataService.userPicture }}" alt="">
        <mat-icon>keyboard_arrow_down</mat-icon>
        <div class="status"></div>
    </div>

    <!-- Logout Container -->
    <div class="logout-container" *ngIf="isLogoutContainerOpen" #containerRef>
        <div class="logout">
            <div class="logout-info">
                <div *ngIf="userDataService.userName !== 'Guest'">
                    <mat-icon>person</mat-icon>
                    <p (click)="openUserProfile()">Profile</p>
                </div>
                <div>
                    <mat-icon>logout</mat-icon>
                    <p (click)="this.authentication.logoutAuth()">Log out</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Overlay -->
    <div class="overlay" *ngIf="isLogoutContainerOpen || isProfileCardOpen || isEditProfileCardOpen"
        (click)="closeContainers()"></div>

    <!-- Profile Container-->
    <section class="user-profile-card-section" *ngIf="isProfileCardOpen">
        <mat-card class="user-profile-card">
            <mat-card-header class="user-header">
                <mat-card-title>Profile</mat-card-title>
                <mat-icon (click)="closeUserProfile()">close</mat-icon>
            </mat-card-header>
            <div class="user-img-one">
                <img src="{{ this.userDataService.userPicture }}">
            </div>
            <mat-card-content>
                <div class="user-contact-info">
                    <p>{{ this.userDataService.userName }}</p>
                    <a (click)="openEditProfileCard()">Edit</a>
                </div>
                <div class="user-status">
                    <p>
                        <svg *ngIf="active" xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
                            <circle cx="4" cy="4" r="4" fill="#92C83E" />
                        </svg>
                        <svg *ngIf="!active" xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
                            <circle cx="4" cy="4" r="4" fill="#808080" />
                        </svg>
                        {{ this.userDataService.userStatus }}
                    </p>
                </div>
                <div class="user-email">
                    <mat-icon>mail_outline</mat-icon>
                    <div class="user-email-link">
                        <p>E-Mail-Address</p>
                        <a>{{ this.userDataService.userEmail }}</a>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </section>

    <!-- Edit Profile Container-->
    <section class="user-profile-card-section" *ngIf="isEditProfileCardOpen">
        <mat-card class="user-profile-card">
            <mat-card-header class="user-header">
                <mat-card-title>Edit Profile</mat-card-title>
                <mat-icon (click)="closeEditUserProfile()">close</mat-icon>
            </mat-card-header>
            <div class="user-img" (mouseenter)="showEditIcon()" (mouseleave)="hideEditIcon()">
                <img src="{{ this.userDataService.userPicture }}">
                <mat-icon (click)="openPictureContainer()" class="edit-icon" *ngIf="showIcon">edit_outline</mat-icon>
            </div>
            <mat-card-content class="user-edit-input">
                <form class="name-form" [formGroup]="editNameForm">
                    <div class="name-field">
                        <div>
                            <mat-icon>account_circle</mat-icon>
                        </div>
                        <div>
                            <mat-label>Full Name</mat-label>
                        </div>
                    </div>
                    <!--- name --->
                    <input formControlName="name" matInput placeholder="Full Name"
                        [ngClass]="{'error-border': editNameForm.controls['name'].invalid && (editNameForm.controls['name'].dirty || editNameForm.controls['name'].touched) || usernameExists}">
                    <div class="error-parent">
                        <div class="error-notification"
                            *ngIf="editNameForm.controls['name'].errors && (editNameForm.controls['name'].dirty || editNameForm.controls['name'].touched)">
                            <!--- minlength / maxlenght --->
                            <mat-error *ngIf="editNameForm.controls['name'].errors['minlength']
                            || editNameForm.controls['name'].errors['maxlength']
                            && editNameForm.controls['name'].touched">
                                Minimum 3 and maximum 25 characters.</mat-error>
                            <!--- pattern --->
                            <mat-error *ngIf="editNameForm.controls['name'].errors['pattern']
                            && editNameForm.controls['name'].touched">
                                Enter your first AND last name. Only letters allowed.</mat-error>
                        </div>
                        <!--- name-function --->
                        <mat-error *ngIf="usernameExists" class="error-notification">Name already exists.</mat-error>
                    </div>
                </form>
                <form class="email-form" [formGroup]="editMailForm">
                    <div class="e-mail-field">
                        <mat-icon>mail_outline</mat-icon>
                        <mat-label>E-Mail-Address</mat-label>
                    </div>
                    <!--- email --->
                    <input formControlName="email" matInput placeholder="E-Mail-Address"
                        [ngClass]="{'error-border': editMailForm.controls['email'].invalid && (editMailForm.controls['email'].dirty || editMailForm.controls['email'].touched) || emailExists}">
                    <div class="error-parent">
                        <div *ngIf="editMailForm.controls['email'].errors && (editMailForm.controls['email'].dirty || editMailForm.controls['email'].touched)"
                            class="error-notification">
                            <mat-error *ngIf="editMailForm.controls['email'].invalid">
                                Please enter a valid email-address.</mat-error>
                        </div>
                        <!--- email-function --->
                        <mat-error *ngIf="emailExists" class="error-notification">Email already exists.</mat-error>
                    </div>
                    <!--- password --->
                    <input formControlName="password" type="password" matInput placeholder="Confirm with Password"
                        [ngClass]="{'error-border': editMailForm.controls['password'].invalid && (submitted || editMailForm.controls['password'].dirty || editMailForm.controls['password'].touched)}">
                    <div class="error-parent">
                        <div *ngIf="editMailForm.controls['password'].errors && (submitted ||editMailForm.controls['password'].dirty || editMailForm.controls['password'].touched)"
                            class="error-notification">
                            <mat-error
                                *ngIf="(editMailForm.controls['password'].errors['minlength'] && editMailForm.controls['password'].touched) || (editMailForm.controls['password'].errors['pattern'] && editMailForm.controls['password'].touched) || editMailForm.controls['password'].errors['required']">
                                Your password is required to change the email.</mat-error>
                        </div>
                    </div>
                </form>
            </mat-card-content>
            <mat-card-actions class="edit-buttons">
                <button (click)="closeEditUserProfile()" class="interrupt-button" mat-stroked-button>Cancel</button>
                <button (click)="editUserProfile()" [disabled]="editNameForm.value.name === '' && editMailForm.value.email === ''" class="save-button" mat-flat-button color="primary">Save</button>
            </mat-card-actions>
        </mat-card>

        <div *ngIf="isProfilePictureContainerOpen" style="z-index: 99999;">

            <div class="profile-picture-container">

                <div class="new-profile-picture-container" *ngFor="let picture of profilePictures; let i = index;">
                    <img class="profile-picture" [src]="picture" alt="Profile Picture"
                        [class.selected]="i === selectedPictureIndex" (click)="onPictureClick(i)">
                </div>
                <mat-card-actions>
                    <div class="edit-buttons-pictures">
                        <button (click)="closeProfilePictureContainer()" class="interrupt-button"
                            mat-stroked-button>Cancel</button>
                        <button (click)="saveProfilePicture()" class="save-button" mat-flat-button
                            color="primary">Save</button>
                    </div>
                    <div class="icon-container">
                        <mat-icon (click)="closeProfilePictureContainer()">close</mat-icon>
                    </div>
                </mat-card-actions>
            </div>
        </div>

    </section>

    <div *ngIf="showSlideInNotification" [class.slide-in-animation]="showSlideInNotification"
    class="slide-in-container" #viewAnimation>
    <div>
        <span>Name or e-Mail changed.</span>
    </div>
</div>
</div>