<div class="header-container">
    <div class="logo">
        <img src="./assets/img/Logo-small.png" alt="#">
        <h1>DABubble</h1>
    </div>
    <div>
        <input class="search-bar" type="text" placeholder="Code learning durchsuchen" id="searchUser">
    </div>
    <div class="profile">
        <h2>Frederik Beck</h2>
        <img src="./assets/img/avatar.png" alt="">
        <mat-icon (click)="openLogoutContainer()">keyboard_arrow_down</mat-icon>
        <div class="status"></div>
    </div>

    <!-- Logout Container -->
    <div class="logout-container" *ngIf="isLogoutContainerOpen" #containerRef>
        <div class="logout">
            <mat-icon (click)="closeLogoutContainer()">close</mat-icon>
            <div class="logout-info">
                <p>Profil</p>
                <p>Log out</p>
            </div>
        </div>
    </div>
</div>