<mat-card class="workspace-card" (click)="toggle()">
    <mat-card-content>
        <h2>Workspace-Menü schließen</h2>
    </mat-card-content>
    <div class="sidenav-icon"><img src="./assets/img/icons/show_menu.png" alt="#"></div>
</mat-card>
<mat-card *ngIf="showFiller" class="channel-container" autosize>
    <div class="channel-header">
        <div class="channel-info">
            <div class="shape"><img src="./assets/img/icons/channel-sample-icon.png" alt=""></div>
            <h2>Code learning</h2>
        </div>
        <img class="edit-icon" src="./assets/img/icons/edit_square.png" alt="#">
    </div>
</mat-card>