.workspace-card {
  position: absolute;
  left: -170px;
  bottom: 300px;
  width: 365px;
  height: 73px;
  padding: 23px 14px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.20);
  transform: rotate(-90deg);
  z-index: 10;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;

    @media (max-width: 840px) {
      display: none;
    }
  }

  .sidenav-icon {
    position: relative;
    top: 5px;
    transform: rotate(90deg);
  }


  @media (max-width: 840px) {
    width: 73px;
    left: -21px;
    top: 50%;
  }

  @media (max-width: 620px) {
    display: none;
  }
}

.mat-mdc-card-content {
  @media (max-width: 840px) {
    display: none;
  }
}

.arrow-for-dropdown-closed {
  transform: rotate(-90deg);
  transition: ease-in(0.25ms);
}

.arrow-for-dropdown-open {
  transform: rotate(0);
  transition: ease-out(0.25ms);
}


.channel-container {
  border-radius: 15px;
  margin: 15px 0 0 10px;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;


  @media (max-width: 420px) {
    border-radius: 0;
    margin: 0;
    width: 100% !important;
    height: 89vh;
  }

  .channel-in-out {
    padding: 35px;
    overflow-y: scroll;
    overflow-x: hidden;

    @media (max-width: 420px) {
      padding: 15px;
      height: calc(100% - 30px);
    }

    .channel-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      column-gap: 10px;

      @media (max-width: 420px) {
        display: none;
      }

      .channel-info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 20px;

        h2 {
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          margin: 0;

          @media (max-width: 420px) {
            font-size: 16px;
          }
        }

        .shape {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background-color: lightgray;
        }

      }

      .edit-icon {
        width: 45px;
        object-fit: scale-down;
        cursor: pointer;
      }
    }
  }
}

.channel-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  cursor: pointer;

  @media(max-width: 420px) {
    margin: 0;
  }

  img:last-child {
    margin-top: .41rem;
    width: 40px;
    object-fit: scale-down;
  }

  .channel-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;

    &:hover {
      color: var(--c-mediun-purple);
    }

    h2 {
        font-size: 20px;
      font-style: normal;
      font-weight: 700;
      margin: 0 !important;

      @media (max-width: 420px) {
        font-size: 16px;
      }
    }
  }
}

.massage-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  cursor: pointer;

  @media (max-width: 420px) {
    margin-top: 10px;
  }

  .massage-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;

    &:hover {
      color: var(--c-mediun-purple);
    }

    h2 {
        font-size: 20px;
      font-style: normal;
      font-weight: 700;
      margin: 0;

      @media (max-width: 420px) {
        font-size: 16px;
      }
    }
  }
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  min-height: auto;
  padding: 15px 0 0 35px;

  @media(max-width: 420px) {
    padding: 0;
  }

  .channel-box {
    width: 200px;
    height: 35px;
    border-radius: 20px;
    margin: 5px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
        font-size: 18px;
      font-style: normal;
      font-weight: 700;
      color: var(--white);
      margin: 0;

      @media (max-width: 420px) {
        font-size: 16px;
      }
    }
  }

  .direct-box {
    min-width: 220px;
    min-height: 35px;
    border-radius: 20px;
    margin: 10px 0;
    cursor: pointer;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    &:hover {
      background-color: #ECEEFE;
      color: #444df2;
    }

    .user-icon {
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      background-color: var(--c-mediun-purple);

      .status {
        position: absolute;
        top: 25px;
        right: -7px;
        width: 16.667px;
        height: 16.667px;
        border-radius: 100%;
        border: 2px solid var(--white);
        background-color: #92C83E;
      }
    }

    h3 {
        font-size: 18px;
      font-style: normal;
      font-weight: 700;
      color: var(--black);
      margin: 0;

      @media (max-width: 420px) {
        font-size: 16px;
      }
    }
  }
}

.add-channel {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
  padding: 10px 0 0 15px;
  cursor: pointer;

  @media(max-width: 420px) {
    padding: 10px 0 0 32px;
  }

  &:hover {
    color: var(--c-purple);
  }

  h3 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin: 0;

    @media (max-width: 420px) {
      font-size: 16px;
    }

    &:hover {
      font-weight: bold;
    }
  }

  img {
    width: 40px;
    object-fit: scale-down;
  }
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  .channel-edit-card {
    width: 872px;
    height: auto;
    background-color: white;
    border-radius: 25px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    @media (max-width: 1000px) {
      width: unset;
      margin: 20px;
    }

    img {
      width: 40px;
      object-fit: scale-down;
      cursor: pointer;
    }

    h2 {
        font-size: 18px;
      font-style: normal;
      font-weight: 700;
    }

    h3 {
        margin-top: 20px;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
    }

    .channel-introduction {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .channel-name {
      display: flex;
      height: 20px;
      padding: 18px 20px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 95%;
      border-radius: 20px;
      border: 1px solid var(--ligth-purple-lines, #adb0d9);
      padding: 20px;
      gap: 20px;

      @media (max-width: 550px) {
        width: 90%;
      }
    }

    .btn-area {
      display: flex;
      justify-content: flex-end;
      margin-top: 30px;

      @media (max-width: 550px) {
        display: flex;
        justify-content: center;
      }


      .btn-channel {
        border-radius: 25px;
        background: var(--purple-1, #444df2);
        color: var(--white, #fff);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        padding: 12px 25px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: none;
        height: 49px;
        width: 204px;
        cursor: pointer;
      }
    }
  }

  .user-edit-card {
    width: 680px;
    height: auto;
    background-color: white;
    border-radius: 25px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    h2 {
        font-size: 24px;
      font-style: normal;
      font-weight: 700;
      margin: 0;
    }

    mat-radio-group {
      display: flex;
      flex-direction: column;
    }

    .radio-selection {
      span {
            font-size: 16px;
        font-style: normal;
        font-weight: 700;
        color: var(--c-mediun-purple);
        cursor: pointer;
      }
    }

    .user-name {
      display: flex;
      height: 20px;
      padding: 18px 20px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 95%;
      border-radius: 30px;
      border: 1px solid var(--ligth-purple-lines, #adb0d9);
      padding: 20px;
      gap: 20px;
    }

    .btn-area {
      display: flex;
      justify-content: flex-end;
      margin-top: 30px;


      .btn-channel {
        border-radius: 25px;
        background: var(--purple-1, #444df2);
        color: var(--white, #fff);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        padding: 12px 25px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: none;
        height: 49px;
        width: 204px;
        cursor: pointer;
      }
    }
  }

  .error-massage {
    position: relative;
    left: 18px;
    margin-top: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    color: var(--c-mediun-purple);
  }
}

.channel-nav-toggle {
  cursor: pointer;
  position: absolute;
  padding-left: 335px;
  z-index: 20;
  padding-top: 35px;


  @media (max-width: 420px) {
    display: none;
  }

  @media (min-width: 420px) {
    color: var(--black);
  }

  @media (min-width: 840px) {
    display: none;
  }

  animation: fadeInOut .650s ease-in-out;

  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }

    25% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    75% {
      opacity: .5;
    }

    100% {
      opacity: 1;
    }
  }
}

.channel-nav-toggle-off {
  cursor: pointer;
  position: absolute;
  padding-left: 35px;
  z-index: 20;
  padding-top: 35px;

  @media (max-width: 420px) {
    display: none;
  }

  @media (min-width: 420px) {
    color: var(--black);
  }

  @media (min-width: 840px) {
    display: none;
  }

  animation: fadeInOut .650s ease-in-out;

  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }

    25% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    75% {
      opacity: .5;
    }

    100% {
      opacity: 1;
    }
  }
}


.material-symbols-outlined {
  font-size: 30px !important;
  height: 30px !important;
  width: 30px !important;
}

@media (max-width: 840px) and (min-width: 421px) {
  .shape,
  .shape > img {
    height: 50px !important;
    width: 50px !important;
  }
}

@media (max-width: 840px) and (min-width: 681px) {
  .channel-in-out {
    padding: 16px !important;
  }

  h2 {
    font-size: 18px !important;
  }
}
@media (max-width: 680px) and (min-width: 621px) {
  .channel-in-out {
    padding: 10px !important;
  }

  h2,
  h3,
  span {
    font-size: 16px !important;
  }

  .workspace-card {
    left: -25px;
    top: 30%;
  }

  .channel-box {
    width: 165px !important;

  }
}
