@import "src/app/sign-in/sign-in.component.scss";

/*------ Header ------*/
.header-parent {
    justify-content: flex-start !important;
}

.header-logo-container {
    display: flex;
    align-items: center;
}

/*------ Sign-up Card ------*/
.arrow-img {
    position: absolute;
    top: 35px;
    left: 25px;
    padding: 3px;

    border: 1px solid transparent;
    border-radius: 50%;
    transition: all 225ms ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: var(--bg-color);
    }
}

.button-bottom-parent {
    width: 100%;

    display: flex;
    justify-content: flex-end;
}

.button-sign-up {
    width: 125px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
    background-color: var(--c-purple);
    border: 1px solid var(--c-purple);
    border-radius: 42px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    transition: all 225ms ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: #575ff7; // TEST IN GLOABL
    }

    &:disabled {
        background-color: #686868;
    }
}

