<section>
    <div class="header-parent">
        <div class="header-logo-container">
            <img src="./assets/img/Logo-small.png" alt="Logo">
            <h2>DABubble</h2>
        </div>
    </div>
    <main>
        <div class="content">
        <h1>Imprint</h1>
        <p>Information according to § 5 TMG (German Telemedia Act)</p>
        <p>Maximilian Scheel
            <br />
            Wrangelstraße 127<br />
            10997 Berlin</p>
        <p><strong>Represented by: </strong><br />
            Adrian Herzberger<br>
            Daniel Hartmann<br>
            Joshua Trefzer<br>
            Danijel Savkovic<br>
            Maximilian Scheel<br>
        </p>
        <p><strong>Contact:</strong> <br />
            Phone: 004915906375887<br />
            E-Mail: contact@maxscheel.dev</p>
        </div>
    </main>
   
    <div class="button-container">
        <button class="go-back-button">
            <span (click)="navigateBack()">Go back</span>
        </button>
    </div>
</section>
