<div class="grid-view-component">
    <div class="grid-view-header"><app-header-bar></app-header-bar></div>
    <div class="board-flex">
        <div class="grid-view-channels"><app-channels></app-channels></div>
        <div class="grid-view-chat"><app-chat></app-chat></div>
        <!-- <div class="grid-view-chat"><app-direct-message-to-user></app-direct-message-to-user></div> -->
        <div *ngIf="this.threadDataService.threadOpen" class="grid-view-threads"><app-threads></app-threads></div>
        <div *ngIf="this.threadDirectDataService.threadOpen" class="grid-view-threads"><app-thread-direct></app-thread-direct></div>
    </div>
</div>

<div class="legal-container">
    <a routerLink="/imprint">Imprint |  </a>
    <a routerLink="/legal"> Legal</a>
</div>
