<div *ngIf="chatBehavior.toggleDirectChatIcon" class="direct-chat-icon" (click)="toggleDirectChatMobile()">
    <img class="edit-icon" src="./assets/img/icons/edit_square_white.png" alt="#">
</div>

<div class="grid-view-component">
    <div class="grid-view-header"><app-header-bar></app-header-bar></div>
    <div class="board-flex">
        <div [ngClass]="{'hidden-channel': chatBehavior.hideChannel}" class="grid-view-channels"><app-channels></app-channels></div>
        <div [ngClass]="{'hidden-chat': chatBehavior.hideChat}" *ngIf="(this.chatBehavior.ChannelChatIsOpen && !this.chatBehavior.isResponsive) || (this.chatBehavior.isChatOpenResponsive && this.chatBehavior.isResponsive)" class="grid-view-chat"><app-chat></app-chat></div>
        <div [ngClass]="{'hidden-direct-chat': chatBehavior.hideDirectChat}" *ngIf="(this.directMessageToUserService.directMessageToUserOpen && !this.chatBehavior.isResponsive) || (this.chatBehavior.isDirectChatToUserOpenResponsive && this.chatBehavior.isResponsive)" class="grid-view-chat"><app-direct-message-to-user></app-direct-message-to-user></div>
        <div *ngIf="(this.threadDataService.threadOpen && !this.chatBehavior.isResponsive) || (this.chatBehavior.isThreadOpenResponsive && this.chatBehavior.isResponsive)" class="grid-view-threads"><app-threads></app-threads></div>
    </div>
</div>

<div class="legal-container">
    <a routerLink="/imprint">Imprint |  </a>
    <a routerLink="/legal"> Legal</a>
</div>