.grid-view-component {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;

    app-channels {
        @media (max-width:420px) {
            width: 100%;
        }
    }

    @media (max-width: 420px) {
        grid: none;
    }

    .board-flex {
        display: flex;
        flex-direction: row;

        @media (max-width: 840px) {
            display: flex;
            justify-content: center;
        }

        .grid-view-header {
            grid-column: 1/7;
            grid-row: 1/1;
            display: flex;
            align-items: center;
        }

        .grid-view-channels {
            grid-row: 2/11;

            @media(max-width: 420px) {
                width: 100%;
            }

            @media (max-width: 670px) {
                display: flex;
                justify-content: center;
            }
        }

        .grid-view-threads {
            grid-column: 5/7;
            grid-row: 2/11;

            @media(max-width: 1380px) {
                width: 100%;
            }
        }

        .grid-view-chat {
            grid-row: 2/11;
            grid-column: 2/5;
            width: 100%;

            @media(max-width: 420px) {
                width: 100%;
            }
        }
    }
}

.legal-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: -27px;
    gap: 4px;

    @media (max-width: 420px) {
        display: none;
    }

    a {
        color: #686868;
    }

    :hover {
        color: var(--c-purple) !important;
    }
}

@media(max-width: 420px) {
    .hidden-channel {
        display: none !important;
    }
}

@media(max-width: 420px) {
    .hidden-chat {
        display: none !important;
    }
}

@media (max-width: 420px) {
    .hidden-direct-chat {
        display: none !important;
    }
}

@media (max-width: 420px) {
    .hidden-thread {
        display: none !important;
    }
}

@media(max-width: 420px) {
    .direct-chat-icon {
        position: absolute;
        right: 20px;
        bottom: 16px;
        display: flex;
        width: 35px;
        height: 35px;
        padding: 8px 10px 12px 10px;
        justify-content: center;
        align-items: center;

        border-radius: 100px;
        background: var(--purple-1, #444DF2);
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.20);

        z-index: 999;

        .edit-icon {
            width: 45px;
            object-fit: scale-down;
            cursor: pointer;
        }
    }
}

@media (min-width: 425px) {
    .direct-chat-icon {
        display: none;
    }
}
