.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide-bg {
    animation: hide 1s ease-in;
}

.background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: linear-gradient(#797ef3, #323be6);
    opacity: 1;
}

.logo {
    height: 150px;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    animation: slideLeft 2s ease;
    z-index: 3;
    opacity: 1 !important;
}

.animation-headline {
    font-size: 70px;
    font-weight: bold;
    color: white;
    position: absolute;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    animation: slideRight 2s ease;
    @extend .center;
}

.make-logo {
    transition: all 1s ease;
    left: -49px !important;
    top: 2px !important;
    scale: 0.36;
    * {
        transition: all 1s ease;
        color: black !important;
    }
}

.logo-parent {
    position: relative;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}

.logo-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    height: 150px;
    width: 550px;
}


@keyframes slideRight {
    0% {
        opacity: 0;
        right: 50px;
    }

    50% {
        opacity: 0;
        right: 50px;
    }

    100% {
        opacity: 1;
        right: 0;
    }
}

@keyframes slideLeft {
    0% {
        left: 30%;
        transform:  rotate(0deg);
    }

    100% {
        left: 0;
        transform: rotate(360deg);
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media (max-width: 970px) {
    .make-logo {
        left:50% !important;
        top: 0 !important;
        transform: translateX(-50%);
        scale: 0.36;
        * {
            transition: all 1s ease;
            color: black !important;
        }
        
    }
}

// ******** RESPONSIVE ANIMATION *************

.logo-container-mb {
    position: relative;
    top: 50%;
    left: 50% ;
    transform: translate(-50%, -50%);
    z-index: 5;
    height: 150px;
    width: 300px;
    @extend .center;
}


.logo-mb {
    height: 90px;
    z-index: 10;
    left: 50%;
    top: 50%;
    // transform: translate(-50%, -50%);
    animation: slideLeftMB 2s ease;
    z-index: 3;
    opacity: 1 !important;
    
}

@keyframes slideLeftMB {
    0% {
        transform:  rotate(0deg);
    }

    100% {
        transform: rotate(720deg);
    }
}

.animation-headline-mb {
    font-size: 30px;
    font-weight: bold;
    color: white;
    position: absolute;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    animation: slideRight 2s ease;
    @extend .center;
}


