.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.background {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(#797ef3, #323be6);
    background-position: center;
    background-size: cover;
    @extend .center;
}

.hide-bg {
    animation: hide 1s ease-in;
}


.logo {
    height: 150px;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    animation: slideLeft 2s ease;
    z-index: 3;
    opacity: 1 !important;
}

.animation-headline {
    font-size: 70px;
    font-weight: bold;
    color: white;
    position: absolute;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    animation: slideRight 2s ease;
    @extend .center;
}

.make-logo {
    transition: all 1s ease;
    left: 10px !important;
    top: 10px !important;
    scale: 0.5;
    * {
        transition: all 1s ease;
        color: black !important;
    }
    
}


.logo-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    height: 150px;
    width: 450px;
}


@keyframes slideRight {
    0% {
        opacity: 0;
        right: 50px;
    }

    50% {
        opacity: 0;
        right: 50px;
    }

    100% {
        opacity: 1;
        right: 0;
    }
}

@keyframes slideLeft {
    0% {
        left: 30%;
        transform:  rotate(0deg);
    }

    100% {
        left: 0;
        transform: rotate(360deg);
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media (max-width: 1000px) {
    .make-logo {
        left:50% !important;
        top: 0 !important;
        transform: translateX(-50%);
        scale: 0.5;
        * {
            transition: all 1s ease;
            color: black !important;
        }
        
    }
}
