@import "./assets/scss/fonts.scss";

*:not(mat-icon) {
  font-family: 'Nunito', Arial, Helvetica, sans-serif !important;
}

html,
body {
  font-family: 'Nunito', Arial, Helvetica, sans-serif !important;
  margin: 0;
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: var(--c-light-purple);
}

li {
  list-style: none;
}

:root {
  --c-darkblue: rgb(42, 54, 71);
  --c-text-grey: #686868;
  --white: #ffffff;
  --c-light-purple: #ADB0D9;
  --c-mediun-purple: #535AF1;
  --c-purple: #444DF2;
  --bg-color: #ECEEFE;
  --text-hover: #797EF3;
  --c-error: #E61C40;
  --c-black: #000000;
}

/*------ SCROLLBAR ------*/
/* width */
::-webkit-scrollbar {
  width: 5px;

  @media(max-width: 420px) {
    display: none;
  }
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media(max-width: 560px) {
  body {
    overflow-x: hidden;
  }
}

.mentioned-users-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  gap: 10px;

  @media (max-width: 750px) {
    height: 40px;
    overflow-x: scroll;
  }
}

.mentioned-user {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #adb0d9;
  color: #444df2;
  padding: 2px 5px;
  border-radius: 5px;
  position: relative;
  white-space: nowrap;

  &:hover {
    .delete-mention {
      display: flex;
    }
  }

  @media (max-width: 420px) {
    font-size: 10px;
  }
}

.delete-mention {
  cursor: pointer;
  position: absolute;
  top: -7px;
  right: -7px;
  transform: rotate(45deg);
  color: rgb(105, 30, 30);
  padding: 5px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  font-size: 20px;
  background-color: #c3d4e7;
  display: none;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: rgb(105, 30, 30);
    color: white;
  }
}

.mentions-button {
  position: absolute;
  top: -10px;
  padding: 10px;
  background-color: #ffffff;
  color: #535af1;
  border: 0.5px solid rgb(188, 188, 188);
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgb(87, 86, 86);
  height: 8px;
  width: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    :first-child {
      display: flex !important;
    }
  }
}

.mention-right {
  left: -10px;
}

.mention-left {
  right: -10px;
}

.d-none {
  display: none !important;
}

.mention-in-message {
  position: absolute;
  top: 10px;
  display: none;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 4px 4px 8px black;
  background-color: #a5a7f1;
  z-index: 5;
  color: black;
}

.mention-popup-right {
  right: 30px;
}

.mention-popup-left {
  left: 30px;
}

.mention-active {
  color: white;
  background-color: rgb(193, 32, 32);
}
