@import "./assets/scss/fonts.scss";
// @import '../node_modules/@ctrl/ngx-emoji-mart/picker.css';

html,
body {
  font-family: 'Nunito', Arial, Helvetica, sans-serif !important;
  margin: 0px;
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: var(--c-light-purple);
}

li {
  list-style: none;
}

:root {
  --c-darkblue: rgb(42, 54, 71);
  --c-text-grey: #686868;
  --white: #ffffff;
  --c-light-purple: #ADB0D9;
  --c-mediun-purple: #535AF1;
  --c-purple: #444DF2;
  --bg-color: #ECEEFE;
  --text-hover: #797EF3;
  --c-error: #E61C40;
  --c-black: #000000;
}

/*------ SCROLLBAR ------*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

