<div class="chat-text-area" *ngIf="messageData">
    <div *ngFor="let message of messageData; let index = index">
        <!-- Time stamp parting line -->
        <div *ngIf="isNewDay(message, messageData[index - 1])">
            <div class="parting-line"></div>
            <div class="flex-center time-partLine">
                <div class="time-stamp">{{ getFormattedDate(message.time) }}</div>
            </div>
        </div>

        <div class="chat-message"
            [ngClass]="{ 'chat-right': message.sentById === currentUserId, 'chat-left': message.sentById !== currentUserId }">
            <div class="profile-picture-container">
                <img class="profile-pictures-chat" src="{{ message.picture }}" alt="#">
            </div>
            <div class="message-content"
                [ngClass]="{ 'message-content-right': message.sentById === currentUserId, 'message-content-left': message.sentById !== currentUserId }">
                <div class="chat-bubble-head" *ngIf="message.sentById !== currentUserId">
                    <span class="chat-name" (click)="openUserProfile(message.sentById)">{{ message.sentBy }}</span>
                    <span class="chat-timeStamp">{{ message.time | date:'mediumTime' }}</span>
                </div>
                <div class="chat-bubble-head right-bubble" *ngIf="message.sentById === currentUserId">
                    <div>
                        <mat-icon class="delete-message-left-corner"
                            (click)="deleteMessage(message.id)">delete</mat-icon>
                    </div>
                    <div class="chat-right-first-row-right">
                        <span class="chat-timeStamp">{{ message.time | date:'mediumTime' }}</span>
                        <span class="chat-name" (click)="openUserProfile(message.sentById)">{{ message.sentBy }}</span>
                    </div>
                </div>
                <div>
                    <span class="chat-message"
                        [ngClass]="{ 'chat-message-right': message.sentById === currentUserId, 'chat-message-left': message.sentById !== currentUserId }">{{
                        message.messageText }}</span>
                </div>
                <div class="like-area">

                    <div id="reactionlist{{index}}" class="list-of-reactions">
                        <div *ngFor="let emoji of message.emojis" class="list-item-reaction">
                            <span>{{ emoji['emoji'] }} :</span>
                            <span>&nbsp;{{ emoji['reaction-from'] }}</span>
                        </div>
                    </div>

                    <div *ngFor="let emoji of message.emojis" (click)="showReaction(index)"
                        class="reaction-icon-container">
                        <div class="reaction-counter">{{ emoji['emoji'] }}</div>
                        <span class="reaction-counter">{{ emoji['reaction-from'].length }}</span>
                    </div>
                    <div class="reaction-icon-container">
                        <img src="./assets/img/icons/tick_green.svg" alt="">
                        <span class="reaction-counter">1</span>
                    </div>
                    <div class="reaction-emojis" id="reaction{{index}}">
                        <div *ngFor="let emoji of reactionEmojis" class="r-emoji"
                            (click)="reactWithEmoji(emoji, index, message.id)">{{ emoji }}</div>
                    </div>
                    <div *ngIf="message.sentById !== currentUserId" (click)="reaction(message.emojis, index)"
                        class="reaction-button-container">
                        <div class="reaction-button"></div>
                    </div>
                </div>
                <span (click)="openThread(message.thread)" class="responses"
                    [ngClass]="{ 'responses-right': message.sentById === currentUserId, 'responses-left': message.sentById !== currentUserId }">2
                    Responses</span>
                <span class="chat-timeStamp" *ngIf="message.sentById !== currentUserId">Last reply {{
                    formatTimeStamp(message.time) }}</span>
            </div>
        </div>
    </div>
</div>

<div class="message-input-field">
    <div class="text-editor">
        <app-emojis (newEmoji)="typeEmoji($event)" class="app-emojis" *ngIf="emojipickeractive"></app-emojis>
        <textarea placeholder="Send an new message to someone..." [(ngModel)]="messageInput" rows="4">
      </textarea>
        <div class="text-editor-bottom">
            <div class="text-editor-left-btns">
                <div class="attach"></div>
                <div class="vertical-line-textEditor"></div>
                <div class="emoji-container" (click)="toggleEmojiPicker()"></div>
                <div class="mail-container"></div>
            </div>
            <div class="send-message-btn" (click)="sendMessage()"></div>
        </div>
    </div>
</div>